.rpa-notifiy-container .rpa-notify {
  box-shadow: 6px 8px 10px 0px rgba(0, 0, 0, 0.35);
  color: #333;
  position: absolute;
  top: 20px;
  right: -450px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 400px;
  max-width: 400px;
  z-index: 9999;
  cursor: pointer;
}
.rpa-notifiy-container .rpa-notify.active {
  right: 20px;
  transition: right 1s ease-in;
}
.rpa-notifiy-container .rpa-notify p {
  margin: 0;
}
.rpa-notifiy-container .rpa-notify .blur {
  box-sizing: border-box;
  background-color: #494949;
  padding: 10px;
  border-radius: 10px;
}
.rpa-notifiy-container .rpa-notify_header {
  position: absolute;
  top: -8px;
  left: -8px;
  cursor: pointer;
}
.rpa-notifiy-container .rpa-notify_header:hover > svg {
  border-radius: 100%;
  height: -10px;
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.35);
  transform: scale(1.2);
}
.rpa-notifiy-container .rpa-notify_header > svg {
  transform: scale(1);
}
.rpa-notifiy-container .rpa-notify_body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.rpa-notifiy-container .rpa-notify_body .info {
  flex: 10;
  max-width: calc(100% - 50px);
  color: #fff;
}
.rpa-notifiy-container .rpa-notify_body .info .title {
  font-size: 18px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}
.rpa-notifiy-container .rpa-notify_body .info .body-msg {
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}
.rpa-notifiy-container .rpa-notify_body .img {
  flex: 2;
  width: 48px;
  height: 48px;
  max-width: 48px;
  max-height: 48px;
}
.rpa-notifiy-container .rpa-notify_body .img img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
