/* For Responsive Web Dsign */
$breakpoints: (
  "xs": 0,
  "sm": 480px,
  "md": 720px,
  "lg": 960px,
  "xl": 1200px,
);

@mixin xs {
  @media (min-width: map-get($breakpoints, "xs")) {
    @content;
  }
}

@mixin sm {
  @media (min-width: map-get($breakpoints, "sm")) {
    @content;
  }
}

@mixin md {
  @media (min-width: map-get($breakpoints, "md")) {
    @content;
  }
}

@mixin lg {
  @media (min-width: map-get($breakpoints, "lg")) {
    @content;
  }
}

@mixin xl {
  @media (min-width: map-get($breakpoints, "xl")) {
    @content;
  }
}

@mixin breakpoint($bp: 0) {
  @media (min-width: $bp) {
    @content;
  }
}

@media screen and (max-width: 600px) {
  .sidebar.zindex-fixed.hide {
    left: -100px;
  }

  .main.sidebar__hide {
    width: 100%;
  }

  .main:has(.row.rpa-new) {
    width: 100%;
  }

  main {
    width: 100%;
  }

  .menu:not(.sidebar__hide) ~ .user__control {
    display: none;
  }

  nav.nav-container .menu.sidebar__hide {
    padding-left: 35px !important;
  }

  .main-content:has(.row.rpa-new) {
    max-width: 100%;
    width: 100%;
    min-height: calc(100% - 120px);
    height: 100%;
    max-height: 100% !important;
  }
}
