@each $key, $val in $colors {
  .rpa-bg-#{$key} {
    background-color: rgba($val, 0.9) !important;

    &:hover {
      background-color: rgba($val, 1) !important;
    }
  }
}

@each $key, $val in $text-colors {
  .rpa-text-#{$key} {
    color: #{$val} !important;
  }

  .rpa-text-hover-#{$key}:hover {
    color: #{$val} !important;
  }
}
