$font-values: 12, 13, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32;
$font-align-values: left, right;

// font classes
/* font size */
@each $val in $font-values {
  .rpa-fs-#{$val} {
    font-size: #{$val}px !important;
    line-height: #{$val}px !important;
  }
}

/* font weight */
@for $i from 1 through 9 {
  // font weight
  .rpa-fw-#{$i * 100} {
    font-weight: #{$i * 100} !important;
  }
}

// custom for title and label text
.rpa-fs-light {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.rpa-title-text {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #272d44;
}

label.rpa-title-blue {
  color: #4f7dc5;
  font-size: 13px;
  font-weight: normal !important;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: 0;
}

label.rpa-title-purple {
  color: #6a53ba;
  font-size: 13px;
  font-weight: normal !important;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: 0;
}

/* text align */
@each $val in $font-align-values {
  .align-#{$val} {
    text-align: #{$val} !important;
  }
}

.font {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #404040;
}

.text-overflow-hide {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: initial;
}
