// gap classes
/* custom gap classes */
@for $val from 0 through 40 {
  // gap
  .rpa-gap__#{$val} {
    gap: #{$val}px !important;
  }
}

@for $val from 0 through 40 {
  // gap
  .rpa-row-gap__#{$val} {
    row-gap: #{$val}px !important;
  }
}

@for $val from 0 through 40 {
  // gap
  .rpa-col-gap__#{$val} {
    column-gap: #{$val}px !important;
  }
}
