@use "sass:math";

$grid-columns: 12;
$grid-gaps: (
  "0": 0,
  "1": 10px,
  "2": 20px,
  "3": 30px,
);
$layout-values: flex-start, flex-end, center, space-between, space-around;

// base layout classes
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-flow: row wrap;
}

// grid gaps
@each $key, $val in $grid-gaps {
  .gap-#{$key} > * {
    padding: $val;
  }
  .gap-#{$key} {
    margin-left: -$val;
    margin-right: -$val;
  }
}

// justify content classes
@each $val in $layout-values {
  .justify-#{$val} {
    justify-content: $val;
  }
}

// col classes
@include xs {
  @for $i from 1 through $grid-columns {
    .col-#{$i}-xs {
      box-sizing: border-box;
      flex-grow: 0;
      width: math.div($i * 100%, $grid-columns);
    }
  }
  .rpa-d-grid-xs {
    &-center {
      place-items: center;
    }
    &-col-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    &-col-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    &-col-6 {
      grid-template-columns: repeat(6, 1fr);
    }
    &-col-8 {
      grid-template-columns: repeat(8, 1fr);
    }
    &-col-10 {
      grid-template-columns: repeat(10, 1fr);
    }
    &-col-12 {
      grid-template-columns: repeat(12, 1fr);
    }
  }
}
@include sm {
  @for $i from 1 through $grid-columns {
    .col-#{$i}-sm {
      box-sizing: border-box;
      flex-grow: 0;
      width: math.div($i * 100%, $grid-columns);
    }
  }
  .rpa-d-grid-sm {
    &-center {
      place-items: center;
    }
    &-col-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    &-col-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    &-col-6 {
      grid-template-columns: repeat(6, 1fr);
    }
    &-col-8 {
      grid-template-columns: repeat(8, 1fr);
    }
    &-col-10 {
      grid-template-columns: repeat(10, 1fr);
    }
    &-col-12 {
      grid-template-columns: repeat(12, 1fr);
    }
  }
}
@include md {
  @for $i from 1 through $grid-columns {
    .col-#{$i}-md {
      box-sizing: border-box;
      flex-grow: 0;
      width: math.div($i * 100%, $grid-columns);
    }
  }
  .rpa-d-grid-md {
    &-center {
      place-items: center;
    }
    &-col-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    &-col-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    &-col-6 {
      grid-template-columns: repeat(6, 1fr);
    }
    &-col-8 {
      grid-template-columns: repeat(8, 1fr);
    }
    &-col-10 {
      grid-template-columns: repeat(10, 1fr);
    }
    &-col-12 {
      grid-template-columns: repeat(12, 1fr);
    }
  }
}
@include lg {
  @for $i from 1 through $grid-columns {
    .col-#{$i}-lg {
      box-sizing: border-box;
      flex-grow: 0;
      width: math.div($i * 100%, $grid-columns);
    }
  }
  .rpa-d-grid-lg {
    &-center {
      place-items: center;
    }
    &-col-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    &-col-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    &-col-6 {
      grid-template-columns: repeat(6, 1fr);
    }
    &-col-8 {
      grid-template-columns: repeat(8, 1fr);
    }
    &-col-10 {
      grid-template-columns: repeat(10, 1fr);
    }
    &-col-12 {
      grid-template-columns: repeat(12, 1fr);
    }
  }
}
@include xl {
  @for $i from 1 through $grid-columns {
    .col-#{$i}-xl {
      box-sizing: border-box;
      flex-grow: 0;
      width: math.div($i * 100%, $grid-columns);
    }
  }
  .rpa-d-grid-xl {
    &-center {
      place-items: center;
    }
    &-col-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    &-col-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    &-col-6 {
      grid-template-columns: repeat(6, 1fr);
    }
    &-col-8 {
      grid-template-columns: repeat(8, 1fr);
    }
    &-col-10 {
      grid-template-columns: repeat(10, 1fr);
    }
    &-col-12 {
      grid-template-columns: repeat(12, 1fr);
    }
  }
}

.d-grid {
  display: grid;
}

.rpa-d-grid {
  &-center {
    place-items: center;
  }
  &-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  &-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  &-col-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  &-col-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  &-col-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  &-col-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}
