// Define Icon Size
$icon-size: 12, 14, 16, 18, 20, 22, 24, 28, 30, 35;

// icon size classes
@each $val in $icon-size {
  .icon-sz-#{$val} {
    width: #{$val}px !important;
    height: #{$val}px !important;
  }
}

.icon {
  &-active-account {
    display: block;
    background-image: url("../icon/check_green.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-arrow__down {
    display: inline-flex;
    background-image: url("../icon/down-arrow.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-left-arrow {
    display: inline-flex;
    background-image: url("../icon/down-arrow.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    color: #000000;
    transform: rotate(0.25turn);
  }

  &-arrow__right {
    display: inline-flex;
    background-image: url("../icon/down-arrow.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    color: #000000;
    transform: rotate(0.75turn);
  }

  &-change-password {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-image: url("../icon/change-password.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
  }

  &-chat-bot {
    display: inline-flex;
    background-image: url("../icon/robotic.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }

  &-close {
    display: block;
    background-image: url("../icon/cancel.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;

    &-white-16 {
      display: block;
      background-image: url("../icon/cancel_white.svg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
    }
  }

  &-coming-soon {
    display: inline-block;
    background-image: url("../icon/loading.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
  }

  &-contact-book {
    display: inline-block;
    background-image: url("../icon/agenda.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
  }

  &-deactive-account {
    display: block;
    background-image: url("../icon/cancel_red.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
  }

  &-error-information {
    display: inline-block;
    background-image: url("../icon/exclamation-mark.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
  }

  &-hide-password {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-image: url("../icon/hide-password.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
  }

  &-history-list {
    display: block;
    background-image: url("../icon/history-circle.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }

  &-information {
    display: block;
    background-image: url("../icon/information_icon.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
  }

  &-information-14 {
    display: block;
    background-image: url("../icon/information_icon.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
  }

  &-internet {
    display: inline-block;
    background-image: url("../icon/globe.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
  }

  &-import {
    display: inline-block;
    background-image: url("../icon/import.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
  }

  &-letter {
    display: inline-block;
    background-image: url("../icon/letter.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
  }

  &-list {
    display: inline-block;
    background-image: url("../icon/list.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }

  &-lock {
    display: block;
    background-image: url("../icon/padlock.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }

  &-login {
    display: block;
    background-image: url("../icon/login.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }

  &-logout {
    display: block;
    background-image: url("../icon/logout_icon.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
  }

  &-market {
    display: inline-flex;
    background-image: url("../icon/customer.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }

  &-menu {
    display: block;
    background-image: url("../icon/menu.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
  }

  &-mobile-chat {
    display: inline-flex;
    background-image: url("../icon/mobile-chat.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }

  &-more {
    display: block;
    background-image: url("../icon/more.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }

  &-more-sz14 {
    display: block;
    background-image: url("../icon/more.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
  }

  &-pause {
    display: block;
    background-image: url("../icon/pause.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;

    &-12 {
      display: block;
      background-image: url("../icon/pause.svg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 12px;
      height: 12px;
    }
  }

  &-play {
    display: block;
    background-image: url("../icon/play.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;

    &-12 {
      display: block;
      background-image: url("../icon/play.svg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 12px;
      height: 12px;
    }
  }

  &-plus {
    display: block;
    background-image: url("../icon/plus.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }

  &-plus-dark {
    display: block;
    background-image: url("../icon/plus_dark.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }

  &-plus-active {
    display: block;
    background-image: url("../icon/plus_blue.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
  }

  &-plus-circle {
    display: block;
    background-image: url("../icon/plus_circle.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
  }

  &-push-notification {
    display: inline-flex;
    background-image: url("../icon/push-notification.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }

  &-random {
    display: inline-block;
    background-image: url("../icon/random.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
  }

  &-red-trash {
    display: block;
    background-image: url("../icon/delete.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-restart {
    display: inline-block;
    background-image: url("../icon/restart.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
  }

  &-search {
    display: inline-flex;
    background-image: url("../icon/search_icon.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  &-search-white {
    display: inline-flex;
    background-image: url("../icon/search_icon_white.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  &-settings {
    display: inline-flex;
    background-image: url("../icon/settingstools.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }

  &-setting {
    display: block;
    background-image: url("../icon/settings_bold_icon.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
  }

  &-show-password {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-image: url("../icon/show-password.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
  }

  &-tab-setting {
    display: inline-block;
    background-image: url("../icon/setting-lines.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
  }

  &-user {
    display: block;
    background-image: url("../icon/user.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }

  &-user-acc-setting {
    display: block;
    background-image: url("../icon/acc_settings_icon.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
  }
}

.active {
  // 448AFF active icon color

  .icon {
    &-market {
      background-image: url("../icon/customer-active.svg");
    }

    &-push-notification {
      background-image: url("../icon/push-notification-active.svg");
    }

    &-chat-bot {
      background-image: url("../icon/robotic-active.svg");
    }

    &-mobile-chat {
      background-image: url("../icon/mobile-chat-active.svg");
    }

    &-settings {
      background-image: url("../icon/settingstools_icon-active.svg");
    }

    &-tab-setting {
      background-image: url("../icon/setting-lines-active.svg");
    }

    &-coming-soon {
      background-image: url("../icon/loading-active.svg");
    }

    &-contact-book {
      background-image: url("../icon/agenda-active.svg");
    }

    &-import {
      background-image: url("../icon/import-active.svg");
    }

    &-random {
      background-image: url("../icon/random-active.svg");
    }
  }
}

.hide {
  .icon {
    &-market {
      width: 35px;
      height: 35px;
    }

    &-push-notification {
      width: 35px;
      height: 35px;
    }

    &-chat-bot {
      width: 35px;
      height: 35px;
    }

    &-mobile-chat {
      width: 35px;
      height: 35px;
    }

    &-settings {
      width: 35px;
      height: 35px;
    }
  }
}

.wechat {
  display: block;
  // background-image: url("../icon/wechat.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 24px;
}

.qq {
  display: block;
  // background-image: url("../icon/qq.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
