.rpa-maintain {
  &-pd-5vw {
    padding: 5vw;
  }
  &-dpd-20 {
    padding-bottom: 20px;
  }
  &-text-grey {
    color: #5f7f89;
  }
  &-text-blue {
    color: #4fc1ea;
  }
  &-text-size-20-vh {
    font-size: 20vh;
    line-height: normal;
  }
  &-text-size-10-vh {
    font-size: 10vh;
  }
  &-text-size-5-vh {
    font-size: 5vh;
  }
  &-text-size-18 {
    font-size: 18px;
  }
  &-text-height-1-5 {
    line-height: 1.5;
  }
  &-gears-grd1 {
    stop-color: #4fc1ea;
    stop-opacity: 1;
  }
  &-gears-grd2 {
    stop-color: #6435c9;
    stop-opacity: 1;
  }
  &-gears-img {
    position: absolute;
    text-align: right;
    right: 10vw;
    bottom: 10vh;
    width: 40%;
  }
  &-gears-img img {
    max-width: 100%;
  }
  &-machine {
    width: 60vmin;
  }
  &-small-shadow,
  &-medium-shadow,
  &-large-shadow {
    fill: rgba(0, 0, 0, 0.05);
  }
  &-small {
    -webkit-animation: rpa-maintain-counter-rotation 2.5s infinite linear;
    -moz-animation: rpa-maintain-counter-rotation 2.5s infinite linear;
    -o-animation: rpa-maintain-counter-rotation 2.5s infinite linear;
    animation: rpa-maintain-counter-rotation 2.5s infinite linear;
    -webkit-transform-origin: 100.136px 225.345px;
    -ms-transform-origin: 100.136px 225.345px;
    transform-origin: 100.136px 225.345px;
  }
  &-small-shadow {
    -webkit-animation: rpa-maintain-counter-rotation 2.5s infinite linear;
    -moz-animation: rpa-maintain-counter-rotation 2.5s infinite linear;
    -o-animation: rpa-maintain-counter-rotation 2.5s infinite linear;
    animation: rpa-maintain-counter-rotation 2.5s infinite linear;
    -webkit-transform-origin: 110.136px 235.345px;
    -ms-transform-origin: 110.136px 235.345px;
    transform-origin: 110.136px 235.345px;
  }
  &-medium {
    -webkit-animation: rpa-maintain-rotation 3.75s infinite linear;
    -moz-animation: rpa-maintain-rotation 3.75s infinite linear;
    -o-animation: rpa-maintain-rotation 3.75s infinite linear;
    animation: rpa-maintain-rotation 3.75s infinite linear;
    -webkit-transform-origin: 254.675px 379.447px;
    -ms-transform-origin: 254.675px 379.447px;
    transform-origin: 254.675px 379.447px;
  }
  &-medium-shadow {
    -webkit-animation: rpa-maintain-rotation 3.75s infinite linear;
    -moz-animation: rpa-maintain-rotation 3.75s infinite linear;
    -o-animation: rpa-maintain-rotation 3.75s infinite linear;
    animation: rpa-maintain-rotation 3.75s infinite linear;
    -webkit-transform-origin: 264.675px 389.447px;
    -ms-transform-origin: 264.675px 389.447px;
    transform-origin: 264.675px 389.447px;
  }
  &-large {
    -webkit-animation: rpa-maintain-counter-rotation 5s infinite linear;
    -moz-animation: rpa-maintain-counter-rotation 5s infinite linear;
    -o-animation: rpa-maintain-counter-rotation 5s infinite linear;
    animation: rpa-maintain-counter-rotation 5s infinite linear;
    -webkit-transform-origin: 461.37px 173.694px;
    -ms-transform-origin: 461.37px 173.694px;
    transform-origin: 461.37px 173.694px;
  }
  &-large-shadow {
    -webkit-animation: rpa-maintain-counter-rotation 5s infinite linear;
    -moz-animation: rpa-maintain-counter-rotation 5s infinite linear;
    -o-animation: rpa-maintain-counter-rotation 5s infinite linear;
    animation: rpa-maintain-counter-rotation 5s infinite linear;
    -webkit-transform-origin: 471.37px 183.694px;
    -ms-transform-origin: 471.37px 183.694px;
    transform-origin: 471.37px 183.694px;
  }
}

@-webkit-keyframes rpa-maintain-rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes rpa-maintain-rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rpa-maintain-rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rpa-maintain-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@-webkit-keyframes rpa-maintain-counter-rotation {
  from {
    -webkit-transform: rotate(359deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes rpa-maintain-counter-rotation {
  from {
    -moz-transform: rotate(359deg);
  }
  to {
    -moz-transform: rotate(0deg);
  }
}
@-o-keyframes rpa-maintain-counter-rotation {
  from {
    -o-transform: rotate(359deg);
  }
  to {
    -o-transform: rotate(0deg);
  }
}
@keyframes rpa-maintain-counter-rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 767px) {
  .rpa-maintain {
    &-sm-hide {
      display: none;
    }
    &-text-size-10-vh {
      font-size: 6vh;
    }
  }
}
