$margin-values: auto;

// margin classes
@for $val from 0 through 100 {
  // margin
  .m__#{$val} {
    margin: #{$val}px !important;
  }
  // margin top
  .mt__#{$val} {
    margin-top: #{$val}px !important;
  }
  // margin right
  .mr__#{$val} {
    margin-right: #{$val}px !important;
  }
  // margin bottom
  .mb__#{$val} {
    margin-bottom: #{$val}px !important;
  }
  // margin left
  .ml__#{$val} {
    margin-left: #{$val}px !important;
  }
  // margin top & margin bottom
  .my-axis__#{$val} {
    margin-top: #{$val}px !important;
    margin-bottom: #{$val}px !important;
  }
  // margin left & margin right
  .mx-axis__#{$val} {
    margin-left: #{$val}px !important;
    margin-right: #{$val}px !important;
  }
}

// margin classes for special case
@each $val in $margin-values {
  .m__#{$val} {
    margin: #{$val} !important;
  }
  .mt__#{$val} {
    margin-top: #{$val} !important;
  }
  .mr__#{$val} {
    margin-right: #{$val} !important;
  }
  .mb__#{$val} {
    margin-bottom: #{$val} !important;
  }
  .ml__#{$val} {
    margin-left: #{$val} !important;
  }
  // margin top & margin bottom
  .my-axis__#{$val} {
    margin-top: #{$val} !important;
    margin-bottom: #{$val} !important;
  }
  // margin left & margin right
  .mx-axis__#{$val} {
    margin-left: #{$val} !important;
    margin-right: #{$val} !important;
  }
}

@include xs {
  @for $val from 0 through 100 {
    // margin
    .rpa-xs-m-#{$val} {
      margin: #{$val}px !important;
    }
    // margin top
    .rpa-xs-mt-#{$val} {
      margin-top: #{$val}px !important;
    }
    // margin right
    .rpa-xs-mr-#{$val} {
      margin-right: #{$val}px !important;
    }
    // margin bottom
    .rpa-xs-mb-#{$val} {
      margin-bottom: #{$val}px !important;
    }
    // margin left
    .rpa-xs-ml-#{$val} {
      margin-left: #{$val}px !important;
    }
    // margin top & margin bottom
    .rpa-xs-my-axis-#{$val} {
      margin-top: #{$val}px !important;
      margin-bottom: #{$val}px !important;
    }
    // margin left & margin right
    .rpa-xs-mx-axis-#{$val} {
      margin-left: #{$val}px !important;
      margin-right: #{$val}px !important;
    }
  }
}

@include sm {
  @for $val from 0 through 100 {
    // margin
    .rpa-sm-m-#{$val} {
      margin: #{$val}px !important;
    }
    // margin top
    .rpa-sm-mt-#{$val} {
      margin-top: #{$val}px !important;
    }
    // margin right
    .rpa-sm-mr-#{$val} {
      margin-right: #{$val}px !important;
    }
    // margin bottom
    .rpa-sm-mb-#{$val} {
      margin-bottom: #{$val}px !important;
    }
    // margin left
    .rpa-sm-ml-#{$val} {
      margin-left: #{$val}px !important;
    }
    // margin top & margin bottom
    .rpa-sm-my-axis-#{$val} {
      margin-top: #{$val}px !important;
      margin-bottom: #{$val}px !important;
    }
    // margin left & margin right
    .rpa-sm-mx-axis-#{$val} {
      margin-left: #{$val}px !important;
      margin-right: #{$val}px !important;
    }
  }
}

@include md {
  @for $val from 0 through 100 {
    // margin
    .rpa-md-m-#{$val} {
      margin: #{$val}px !important;
    }
    // margin top
    .rpa-md-mt-#{$val} {
      margin-top: #{$val}px !important;
    }
    // margin right
    .rpa-md-mr-#{$val} {
      margin-right: #{$val}px !important;
    }
    // margin bottom
    .rpa-md-mb-#{$val} {
      margin-bottom: #{$val}px !important;
    }
    // margin left
    .rpa-md-ml-#{$val} {
      margin-left: #{$val}px !important;
    }
    // margin top & margin bottom
    .rpa-md-my-axis-#{$val} {
      margin-top: #{$val}px !important;
      margin-bottom: #{$val}px !important;
    }
    // margin left & margin right
    .rpa-md-mx-axis-#{$val} {
      margin-left: #{$val}px !important;
      margin-right: #{$val}px !important;
    }
  }
}

@include lg {
  @for $val from 0 through 100 {
    // margin
    .rpa-lg-m-#{$val} {
      margin: #{$val}px !important;
    }
    // margin top
    .rpa-lg-mt-#{$val} {
      margin-top: #{$val}px !important;
    }
    // margin right
    .rpa-lg-mr-#{$val} {
      margin-right: #{$val}px !important;
    }
    // margin bottom
    .rpa-lg-mb-#{$val} {
      margin-bottom: #{$val}px !important;
    }
    // margin left
    .rpa-lg-ml-#{$val} {
      margin-left: #{$val}px !important;
    }
    // margin top & margin bottom
    .rpa-lg-my-axis-#{$val} {
      margin-top: #{$val}px !important;
      margin-bottom: #{$val}px !important;
    }
    // margin left & margin right
    .rpa-lg-mx-axis-#{$val} {
      margin-left: #{$val}px !important;
      margin-right: #{$val}px !important;
    }
  }
}

@include xl {
  @for $val from 0 through 100 {
    // margin
    .rpa-xl-m-#{$val} {
      margin: #{$val}px !important;
    }
    // margin top
    .rpa-xl-mt-#{$val} {
      margin-top: #{$val}px !important;
    }
    // margin right
    .rpa-xl-mr-#{$val} {
      margin-right: #{$val}px !important;
    }
    // margin bottom
    .rpa-xl-mb-#{$val} {
      margin-bottom: #{$val}px !important;
    }
    // margin left
    .rpa-xl-ml-#{$val} {
      margin-left: #{$val}px !important;
    }
    // margin top & margin bottom
    .rpa-xl-my-axis-#{$val} {
      margin-top: #{$val}px !important;
      margin-bottom: #{$val}px !important;
    }
    // margin left & margin right
    .rpa-xl-mx-axis-#{$val} {
      margin-left: #{$val}px !important;
      margin-right: #{$val}px !important;
    }
  }
}
