// theme colors
$primary: #007bff !default;
$secondary: #8ba1a2 !default;
$success: #6ccf3c !default;
$error: #d32752 !default;
$info: #f6c31c !default;

// color palette
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "error": $error,
  "info": $info,
  "blue": #1919e6,
  "red": #fa626b,
  "red-2": #fb7780,
  "yellow": #ffbb00,
  "light-yellow": #ffff00,
  "green": #19e635,
  "gold": rgb(189, 157, 49),
  "gold-8": rgb(189, 157, 49, 0.8),
  "orange": #f18700,
  "purple": #6d5db3,
  "light-purple": #ccc4e6,
  "gray": #f8f9fa,
  "black": black,
  "white": white,
  "green-blue-crayola": #308fcc,
  "united-nations-blue": #448aff,
  "neon_blue": #5c60f5,
  "medium_blue": #0c13c3,
  "pacific-blue": #28afd0,
  "brand-success": #5cb85c,
  "disable": #ececec,
);

$text-colors: (
  "united-nations-blue": #448aff,
  "neon_blue": #5c60f5,
  "medium_blue": #0c13c3,
  "purple": #a395d2,
  "dark-purple": #524490,
  "brand-success": #5cb85c,
  "red-2": #fb7780,
  "yellow": #ffbb00,
  "light-yellow": #ffff00,
  "jet": #373737,
  "green": #19e635,
  "orange": #f18700,
  "gray": #f8f9fa,
  "black": black,
  "white": white,
);

$badge-colors: (
  "blue": #4969fb,
  "neon_blue": #5c60f5,
  "yellow": #ffbb00,
  "gold": rgb(189, 157, 49),
  "orange": #ff8c00,
  "green": #00cc88,
  "disable": #cfd6df,
  "light-purple": #a395d2,
  "red": #fa626b,
);

// spacing
$base-padding: 0.75rem !default;
$base-margin: 0.75rem !default;

// borders
$base-border-thickness: 1px !default;
$base-border-radius: 20px !default;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1) !default;

// font sizes
$base-font-size: 1rem !default;
$font-size-sm: $base-font-size * 0.75 !default;
$font-size-md: 14px !default;
$font-size-lg: $base-font-size * 1.5 !default;
$font-size-xl: $base-font-size * 2 !default;
$font-size-xxl: $base-font-size * 3 !default;

// text colors
// text
$text-white-color: #ffffff;
$text-dark-color: #000000;
$text-unb-color: #448aff;
$text-tufts-blue-color: #3396d8;
$text-spanish-gray: #8d8d8d;
