// width classes
@for $val from 1 through 20 {
  .rpa-w-#{$val * 50} {
    width: #{$val * 50}px;
  }
}

@include xs {
  @for $val from 1 through 20 {
    .rpa-w-xs-#{$val * 50} {
      width: #{$val * 50}px;
    }
  }
}

@include sm {
  @for $val from 1 through 20 {
    .rpa-w-sm-#{$val * 50} {
      width: #{$val * 50}px;
    }
  }
}

@include md {
  @for $val from 1 through 20 {
    .rpa-w-md-#{$val * 50} {
      width: #{$val * 50}px;
    }
  }
}

@include lg {
  @for $val from 1 through 20 {
    .rpa-w-lg-#{$val * 50} {
      width: #{$val * 50}px;
    }
  }
}

@include xl {
  @for $val from 1 through 20 {
    .rpa-w-xl-#{$val * 50} {
      width: #{$val * 50}px;
    }
  }
}
