nav.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-left: 300px;
    cursor: pointer;
    transition: 0.5s ease all;

    .menu-label {
      cursor: pointer;
    }

    #rpa-sidebar-controller {
      display: none;
    }

    &.sidebar__hide {
      padding-left: 100px;
    }
  }

  .user__control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px 30px 15px auto;

    .user__profile {
      width: 100%;
      height: auto;
      cursor: pointer;
      border-radius: 50%;

      label {
        cursor: pointer;
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
  }
}

// User Modal BEGIN
#user-modal {
  display: none;

  &:checked ~ .user__modal {
    display: flex;
  }

  &:checked ~ .user__modal__bg {
    display: block;
  }
}

.user {
  &__modal__bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 9998;
  }

  &__modal {
    position: absolute;
    top: 90px;
    right: 8px;
    z-index: 9999;

    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 180px;
    background-color: #ffffff;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;

    &__details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 140px;

      .profile__img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }

      .profile__name {
        text-align: center;
        width: 100%;
        height: 30px;
        font-size: 16px;
        margin-top: 10px;
      }
    }

    &__control {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .account_information {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 8px;
        border-radius: 5px;

        background-color: #28afd0;
        width: 135px;
        height: 38px;
        cursor: pointer;
        margin-right: 5px;

        span {
          color: #ffffff;
          margin-left: 8px;
        }
      }

      .logout {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 8px;
        border-radius: 5px;

        background-color: #fa626b;
        width: 135px;
        height: 38px;
        cursor: pointer;
        margin-left: 5px;

        span {
          color: #ffffff;
          margin-left: 8px;
        }
      }
    }
  }
}
// User Modal END

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 280px;
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;

  transition: ease 0.3s;

  &__header {
    box-sizing: border-box;
    display: flex;
    padding: 0 20px;
    width: 100%;

    .logo-img {
      width: 50px;
      height: 50px;
      padding: 15px 0;
    }

    .logo-text {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 8px;
      color: #5c60f5;
    }
  }

  &__body {
    display: block;
    width: 100%;
    height: auto;

    .sidebar__menu {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .sidebar__dropdown {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;

        > a {
          box-sizing: border-box;
          padding: 0 16px;
          display: flex;
          justify-content: left;
          align-items: center;
          width: 100%;
          height: 50px;
          font-size: 16px;
          text-decoration: none;

          .sidebar__text {
            color: #000000;
            width: max-content;
            margin-left: 16px;
            transition: width 0.3s all;
          }

          .icon-arrow__right {
            transform: rotate(0.75turn);
            margin-left: auto;
            transition: 0.3s ease-in-out all;
          }
        }

        .sidebar__submenu {
          display: none;
        }

        &.active {
          .sidebar__text {
            color: #5c60f5;
            width: max-content;
            margin-left: 16px;
          }

          .icon-arrow__right {
            background-image: url("../icon/down-arrow-active.svg");
            transform: rotate(0.75turn);
            margin-left: auto;
            color: #5c60f5;
          }

          .sidebar__submenu {
            display: none;
            width: 100%;

            &-list {
              list-style: none;
              width: 100%;
              height: auto;
            }

            &-item {
              display: flex;
              width: 100%;
              height: 40px;
              box-sizing: border-box;
              padding-left: 75px;

              > a {
                width: 100%;
                text-decoration: none;

                &:hover .submenu__text {
                  color: #5c60f5;
                }

                .submenu__text {
                  width: 30px;
                  text-align: left;
                  color: #000000;
                }
              }

              &.active {
                padding-left: 55px;
                > a {
                  .submenu__text {
                    color: #5c60f5;

                    &::before {
                      content: "•";
                      margin-right: 10px;
                    }
                  }
                }
              }
            }
          }
        }

        &.show {
          > a {
            .icon-arrow__right {
              transform: rotate(1turn);
              transition: 0.5s ease all;
            }
          }

          .sidebar__submenu {
            display: flex;
            width: 100%;

            &-list {
              list-style: none;
              width: 100%;
              height: auto;
            }

            &-item {
              display: flex;
              width: 100%;
              height: 40px;
              box-sizing: border-box;
              padding-left: 75px;

              > a {
                width: 100%;
                text-decoration: none;

                &:hover .submenu__text {
                  color: #5c60f5;
                }

                .submenu__text {
                  width: 30px;
                  text-align: left;
                  color: #000000;
                }
              }
            }
          }
        }
      }
    }
  }

  &.hide {
    width: 100px;

    .sidebar__header {
      padding: 0;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      .logo-img {
        width: 60px;
        height: 60px;
      }

      .logo-text {
        display: none;
      }
    }

    .sidebar__body {
      display: flex;
      justify-content: center;
      align-items: center;

      .sidebar__menu {
        .sidebar__dropdown {
          > a {
            .sidebar__text {
              display: none;
              transition: ease 0.3s all;
            }

            .icon-arrow__right {
              display: none;
            }
          }

          .sidebar__submenu {
            position: absolute;
            left: 100px;
            width: 200px;
            max-height: 100px;

            &-list {
              margin-top: 25px;
            }

            &-item {
              background-color: #ffffff;
              box-sizing: border-box;
              padding-left: 10px;

              > a {
                display: flex;
                justify-content: center;
                align-items: center;

                .submenu__text {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

main {
  height: 100%;

  .main-content:has(.rpa-new) {
    min-height: 100%;
    height: 100%;

    > * {
      box-sizing: unset;
    }
  }
}

main .main-content:not(.rpa-new) {
  margin-top: 80px;
  margin-bottom: 0;
  max-width: unset;

  > * {
    box-sizing: unset;
  }
}
