// 這是輪播的樣式
.rpa-ads-slider__container {
  width: 280px;
  height: 280px;
  overflow: hidden;

  .rpa-ads-slider__close {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    text-align: center;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 12px;
    border: 1px solid #eeeeee;
    margin-top: 2px;
    margin-bottom: 2px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;

    &:hover {
      border: 1px solid #000000;
      background-color: black;
      color: #ffffff;
    }
  }

  .rpa-ads-right-slider__close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 12px;
    border: 1px solid #eeeeee;
    margin-top: 2px;
    margin-bottom: 2px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;

    &:hover {
      border: 1px solid #000000;
      background-color: black;
      color: #ffffff;
    }
  }

  &.rpa-ads-bottom__left {
    position: fixed;
    bottom: 0;
    left: 0;
  }

  &.rpa-ads-bottom__right {
    position: fixed;
    bottom: 0;
    right: 0;
  }

  &.rpa-ads-top__left {
    position: fixed;
    top: 0;
    left: 0;
  }

  &.rpa-ads-top__right {
    position: fixed;
    top: 0;
    right: 0;
  }

  .rpa-ads-slides__wrapper {
    width: 280px;
    height: 280px;
    overflow: hidden;
    animation-name: fade;
    animation-duration: 1s;

    img {
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }
  }

  .rpa-ads-images-dot {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    z-index: 9999;

    .rpa-ads-image-dot {
      display: inline-block;
      border-radius: 50%;
      background: #d3d3d3;
      padding: 8px;
      margin: 10px 5px;

      &.rpa-ads-image-dot-active {
        background: black;
      }
    }
  }
}

// 這是 Modal 的樣式
.modal__push {
  &-bg {
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    overflow: hidden;

    &.hidden {
      display: none;
    }
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #fff;
    z-index: 9999;
    padding: 8px 16px;
    width: 350px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    &.center {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.bottom__right {
      bottom: 0;
      right: 0;
      transform: translate(0%, 0%);
      margin: 10px;
    }

    &.hidden {
      display: none;
    }

    &-header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;

      &-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 26px;
        font-weight: 500;
        width: calc(100% - 40px);
      }

      &-close {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
        cursor: pointer;
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-image {
        display: block;
        margin: 16px 8px;

        &.horizontal {
          width: 300px;
          height: 300px;
        }

        &.vertical {
          width: 300px;
          height: 300px;
        }

        > img {
          width: 100%;
          height: 100%;
        }
      }

      &-title {
        text-align: left;
        font-size: 20px;
        line-height: 24px;
        max-height: 24px;
        margin: 10px;
        width: 300px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      &-advertising__copy {
        text-align: left;
        font-size: 16px;
        line-height: 24px;
        height: auto;
        max-height: 48px;
        margin: 10px;
        width: 300px;
        text-overflow: ellipsis;
        white-space: wrap;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }

    &-footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 18px;
      margin-bottom: 10px;

      &-acess {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        border-radius: 25px;
        border: 1px solid #00bbf9;
        padding: 2px 4px;
        margin-right: 8px;
        text-decoration: none;
        font-size: 16px;
        color: #fff;
        background-color: #00bbf9;
      }

      &-close {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        border-radius: 25px;
        border: 1px solid #95969d;
        padding: 2px 4px;
        margin-left: 8px;
        text-decoration: none;
        font-size: 16px;
        color: #fff;
        background-color: #95969d;
        outline: none;
        cursor: pointer;
      }
    }
  }
}

// 新增版本1的彈跳視窗
.rpa-lightBox_background {
  background-color: rgb(0 0 0 / 85%);
  width: 100vw;
  height: 100%;
  position: fixed;
  z-index: 10000;
  top: 0;
  padding-top: 3%;
  color: #000;
  left: 0;

  &.rpa_light ol,
  &.rpa_light ul {
    list-style: none;
  }

  &.rpa_light a,
  &.rpa_light ins {
    text-decoration: none;
  }

  .rpa_light {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    .rpa-lightBox {
      max-width: 390px;
      height: 442px;
      background-color: #601986;
      border: 3px solid #601986;
    }
  }

  .rpa-lightBox {
    width: 95%;
    max-width: 850px;
    height: 90%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: #e9f1ff;
    border-radius: 20px;
    position: relative;
    border: 3px solid #7ecef4;
    margin-bottom: 8%;
  }

  .rpa-closeBtn {
    width: 45px;
    position: absolute;
    right: 2%;
    opacity: 0.6;
    top: 2%;
    z-index: 3;
    transition: all 0.1s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  .rpa-light_box_content {
    height: 100%;
    overflow: hidden;
    position: relative;
    background-size: inherit;
    background-repeat: repeat;
    border-radius: 15px;
    z-index: 0;

    &:before {
      content: "";
      width: 150%;
      height: 150%;
      display: block;
      position: absolute;
      background-repeat: repeat;
      background-image: url("https://webpush-server-eyldrcphzq-an.a.run.app/static/lightbox_bac.png");
      transform: rotate(-20deg);
      top: -25%;
      left: -25%;
    }
  }

  .rpa-content_background {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;

    &:before {
      background-image: url("https://webpush-server-eyldrcphzq-an.a.run.app/static/rpa_bac.png");
      transform: rotate(0deg);
      z-index: -1;
      top: 0;
      opacity: 0.5;
    }

    img {
      width: 80%;
    }

    > ul {
      width: 83%;
      text-align: center;
      font-size: 23px;
      font-weight: 400;
      margin: 7px 0;
      color: #601986;
    }
  }

  .rpa-white_background {
    width: 100%;
    height: 80%;
    position: absolute;
    background-color: #fff;
    transform: skew(0, 6deg);
    z-index: -1;
  }

  .rpa_btn {
    width: 80%;
    display: flex;
    justify-content: space-between;

    &.two div {
      width: 48%;
      height: 35px;
    }

    &.three .confirm_btn {
      width: calc(100% / 3 - 5px);
      margin: 5px 0 5px 0;
    }

    .confirm_btn {
      width: 100%;
      border: 0px;
      background-color: #601986;
      color: #fff;
      border-radius: 10px;
      text-align: center;
      line-height: 36px;
      letter-spacing: 1px;
      font-size: 19px;
      transition: all 0.1s;
      cursor: pointer;
    }
  }

  p {
    display: block !important;
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
  }
}

@media (max-width: 600px) {
  .rpa-ads-slider__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .rpa-ads-slides__wrapper {
      width: 100%;
      object-fit: contain;
      object-position: center center;
    }
  }
}
