.conatiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  position: relative;
}

.icon-sz-12 {
  width: 12;
  height: 12;
}

.icon-sz-14 {
  width: 14;
  height: 14;
}

.icon-sz-16 {
  width: 16;
  height: 16;
}

.icon-sz-18 {
  width: 18;
  height: 18;
}

.icon-sz-20 {
  width: 20;
  height: 20;
}

.icon-sz-22 {
  width: 22;
  height: 22;
}

.icon-sz-24 {
  width: 24;
  height: 24;
}

.icon-sz-28 {
  width: 28;
  height: 28;
}

.icon-sz-30 {
  width: 30;
  height: 30;
}

.icon-sz-35 {
  width: 35;
  height: 35;
}

.icon-active-account {
  display: block;
  /* background-image: url("../icon/check_green.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

.icon-arrow__down {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* background-image: url("../icon/down-arrow.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  color: #000000;
  margin: 8px 0;
}

.icon-left-arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* background-image: url("../icon/down-arrow.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  color: #000000;
  margin: 8px 0;
  -webkit-transform: rotate(0.25turn);
          transform: rotate(0.25turn);
}

.icon-arrow__right {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* background-image: url("../icon/down-arrow.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  color: #000000;
}

.icon-change-password {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* background-image: url("../icon/change-password.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

.icon-chat-bot {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* background-image: url("../icon/robotic.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon-close {
  display: block;
  /* background-image: url("../icon/cancel.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon-close-white-16 {
  display: block;
  /* background-image: url("../icon/cancel_white.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.icon-coming-soon {
  display: inline-block;
  /* background-image: url("../icon/loading.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.icon-contact-book {
  display: inline-block;
  /* background-image: url("../icon/agenda.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.icon-deactive-account {
  display: block;
  /* background-image: url("../icon/cancel_red.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

.icon-error-information {
  display: inline-block;
  /* background-image: url("../icon/exclamation-mark.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}

.icon-hide-password {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* background-image: url("../icon/hide-password.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

.icon-history-list {
  display: block;
  /* background-image: url("../icon/history-circle.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.icon-information {
  display: block;
  /* background-image: url("../icon/information_icon.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}

.icon-information-14 {
  display: block;
  /* background-image: url("../icon/information_icon.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
}

.icon-internet {
  display: inline-block;
  /* background-image: url("../icon/globe.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}

.icon-import {
  display: inline-block;
  /* background-image: url("../icon/import.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.icon-letter {
  display: inline-block;
  /* background-image: url("../icon/letter.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
}

.icon-list {
  display: inline-block;
  /* background-image: url("../icon/list.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon-lock {
  display: block;
  /* background-image: url("../icon/padlock.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon-login {
  display: block;
  /* background-image: url("../icon/login.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.icon-logout {
  display: block;
  /* background-image: url("../icon/logout_icon.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

.icon-market {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* background-image: url("../icon/customer.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon-menu {
  display: block;
  /* background-image: url("../icon/menu.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
}

.icon-mobile-chat {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* background-image: url("../icon/mobile-chat.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon-more {
  display: block;
  /* background-image: url("../icon/more.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon-more-sz14 {
  display: block;
  /* background-image: url("../icon/more.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
}

.icon-pause {
  display: block;
  /* background-image: url("../icon/pause.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

.icon-pause-12 {
  display: block;
  /* background-image: url("../icon/pause.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

.icon-play {
  display: block;
  /* background-image: url("../icon/play.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.icon-play-12 {
  display: block;
  /* background-image: url("../icon/play.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

.icon-plus {
  display: block;
  /* background-image: url("../icon/plus.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon-plus-dark {
  display: block;
  /* background-image: url("../icon/plus_dark.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon-plus-active {
  display: block;
  /* background-image: url("../icon/plus_blue.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
}

.icon-plus-circle {
  display: block;
  /* background-image: url("../icon/plus_circle.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

.icon-push-notification {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* background-image: url("../icon/push-notification.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon-random {
  display: inline-block;
  /* background-image: url("../icon/random.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.icon-red-trash {
  display: block;
  /* background-image: url("../icon/delete.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}

.icon-red-trash-12 {
  display: block;
  /* background-image: url("../icon/delete.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

.icon-red-trash-14 {
  display: block;
  /* background-image: url("../icon/delete.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
}

.icon-red-trash-16 {
  display: block;
  /* background-image: url("../icon/delete.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.icon-red-trash-20 {
  display: block;
  /* background-image: url("../icon/delete.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.icon-restart {
  display: inline-block;
  /* background-image: url("../icon/restart.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.icon-search {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* background-image: url("../icon/search_icon.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.icon-search-white {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* background-image: url("../icon/search_icon_white.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.icon-settings {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* background-image: url("../icon/settingstools.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon-setting {
  display: block;
  /* background-image: url("../icon/settings_bold_icon.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}

.icon-show-password {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* background-image: url("../icon/show-password.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

.icon-tab-setting {
  display: inline-block;
  /* background-image: url("../icon/setting-lines.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.icon-user {
  display: block;
  /* background-image: url("../icon/user.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon-user-acc-setting {
  display: block;
  /* background-image: url("../icon/acc_settings_icon.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

.active .icon-market {
  /* background-image: url("../icon/customer-active.svg"); */
}

.active .icon-push-notification {
  /* background-image: url("../icon/push-notification-active.svg"); */
}

.active .icon-chat-bot {
  /* background-image: url("../icon/robotic-active.svg"); */
}

.active .icon-mobile-chat {
  /* background-image: url("../icon/mobile-chat-active.svg"); */
}

.active .icon-settings {
  /* background-image: url("../icon/settingstools_icon-active.svg"); */
}

.active .icon-tab-setting {
  /* background-image: url("../icon/setting-lines-active.svg"); */
}

.active .icon-coming-soon {
  /* background-image: url("../icon/loading-active.svg"); */
}

.active .icon-contact-book {
  /* background-image: url("../icon/agenda-active.svg"); */
}

.active .icon-import {
  /* background-image: url("../icon/import-active.svg"); */
}

.active .icon-random {
  /* background-image: url("../icon/random-active.svg"); */
}

.hide .icon-market {
  width: 35px;
  height: 35px;
}

.hide .icon-push-notification {
  width: 35px;
  height: 35px;
}

.hide .icon-chat-bot {
  width: 35px;
  height: 35px;
}

.hide .icon-mobile-chat {
  width: 35px;
  height: 35px;
}

.hide .icon-settings {
  width: 35px;
  height: 35px;
}

.wechat {
  display: block;
  /* background-image: url("../icon/wechat.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 24px;
}

.qq {
  display: block;
  /* background-image: url("../icon/qq.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.title__text {
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
}

.text__align-center {
  text-align: center;
}

.text__align-left {
  text-align: left;
}

.text__align-right {
  text-align: right;
}

.input__box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
}

.input__box-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
  min-width: 80px;
}

.input__box-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px 14px;
  height: 38px;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.dropdown__box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding: 8px;
}

.dropdown__box-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
  min-width: 80px;
}

.dropdown__box-wrapper {
  -webkit-box-flex: 11;
      -ms-flex: 11 1 auto;
          flex: 11 1 auto;
}

.width-5 {
  width: 5%;
}

.width-10 {
  width: 10%;
}

.width-15 {
  width: 15%;
}

.width-20 {
  width: 20%;
}

.width-25 {
  width: 25%;
}

.width-30 {
  width: 30%;
}

.width-35 {
  width: 35%;
}

.width-40 {
  width: 40%;
}

.width-45 {
  width: 45%;
}

.width-50 {
  width: 50%;
}

.width-55 {
  width: 55%;
}

.width-60 {
  width: 60%;
}

.width-65 {
  width: 65%;
}

.width-70 {
  width: 70%;
}

.width-75 {
  width: 75%;
}

.width-80 {
  width: 80%;
}

.width-85 {
  width: 85%;
}

.width-90 {
  width: 90%;
}

.width-95 {
  width: 95%;
}

.width-100 {
  width: 100%;
}

.p-8 {
  padding: 8px;
}

.p-20 {
  padding: 20px;
}

.m__top-8 {
  margin-top: 8px;
}

.m__top-16 {
  margin-top: 16px;
}

.m__top-auto {
  margin-top: auto;
}

.m__bottom-8 {
  margin-bottom: 8px;
}

.m__bottom-16 {
  margin-bottom: 16px;
}

.m__right-5 {
  margin-right: 5px;
}

.m__right-8 {
  margin-right: 8px;
}

.m__left-5 {
  margin-left: 5px;
}

.rpa-btn__cancel {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100px;
  padding: 8px;
  border-radius: 5px;
  background-color: rgba(241, 241, 241, 0.8);
  border: none;
  outline: none;
  cursor: pointer;
  color: #8d8d8d;
}

.rpa-btn__cancel:hover {
  background-color: #dfdfdf;
}

.rpa-btn__cancel-text {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: inherit;
}

.rpa-btn__create {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100px;
  padding: 8px;
  border-radius: 5px;
  background-color: #007bff;
  border: none;
  outline: none;
  cursor: pointer;
}

.rpa-btn__create:hover {
  background-color: rgba(0, 123, 255, 0.9);
}

.rpa-btn__create-text {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.rpa-btn__review {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100px;
  padding: 8px;
  border-radius: 5px;
  background-color: #007bff;
  border: none;
  outline: none;
  cursor: pointer;
}

.rpa-btn__review:hover {
  background-color: rgba(0, 123, 255, 0.9);
}

.rpa-btn__review-text {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.rpa-btn__primary {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  background-color: #007bff;
  border: none;
  outline: none;
  cursor: pointer;
}

.rpa-btn__primary:hover {
  background-color: rgba(0, 123, 255, 0.9);
}

.rpa-btn__primary-text {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.rounded-5 {
  border-radius: 5px;
}

.rounded-20 {
  border-radius: 20px;
}

.divider {
  display: block;
  background-color: black;
  height: 1px;
  width: 100%;
}

nav.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
}

nav.nav-container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 300px;
  cursor: pointer;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

nav.nav-container .menu .menu-label {
  cursor: pointer;
}

nav.nav-container .menu #rpa-sidebar-controller {
  display: none;
}

nav.nav-container .menu.sidebar__hide {
  padding-left: 100px;
}

nav.nav-container .user__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 30px 15px auto;
}

nav.nav-container .user__control .user__profile {
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 50%;
}

nav.nav-container .user__control .user__profile label {
  cursor: pointer;
}

nav.nav-container .user__control .user__profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#user-modal {
  display: none;
}

#user-modal:checked ~ .user__modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#user-modal:checked ~ .user__modal__bg {
  display: block;
}

.user__modal__bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 9998;
}

.user__modal {
  position: absolute;
  top: 90px;
  right: 8px;
  z-index: 9999;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 180px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
}

.user__modal__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 140px;
}

.user__modal__details .profile__img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.user__modal__details .profile__name {
  text-align: center;
  width: 100%;
  height: 30px;
  font-size: 16px;
  margin-top: 10px;
}

.user__modal__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.user__modal__control .account_information {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  border-radius: 5px;
  background-color: #28afd0;
  width: 135px;
  height: 38px;
  cursor: pointer;
  margin-right: 5px;
}

.user__modal__control .account_information span {
  color: #ffffff;
  margin-left: 8px;
}

.user__modal__control .logout {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  border-radius: 5px;
  background-color: #fa626b;
  width: 135px;
  height: 38px;
  cursor: pointer;
  margin-left: 5px;
}

.user__modal__control .logout span {
  color: #ffffff;
  margin-left: 8px;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.sidebar__header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  width: 100%;
}

.sidebar__header .logo-img {
  width: 50px;
  height: 50px;
  padding: 15px 0;
}

.sidebar__header .logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 8px;
  color: #3396d8;
}

.sidebar__body {
  display: block;
  width: 100%;
  height: auto;
}

.sidebar__body .sidebar__menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__body .sidebar__menu .sidebar__dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

.sidebar__body .sidebar__menu .sidebar__dropdown > a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  font-size: 16px;
  text-decoration: none;
}

.sidebar__body .sidebar__menu .sidebar__dropdown > a .sidebar__text {
  color: #000000;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: 16px;
  -webkit-transition: width 0.3s all;
  transition: width 0.3s all;
}

.sidebar__body .sidebar__menu .sidebar__dropdown > a .icon-arrow__right {
  -webkit-transform: rotate(0.75turn);
          transform: rotate(0.75turn);
  margin-left: auto;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}

.sidebar__body .sidebar__menu .sidebar__dropdown .sidebar__submenu {
  display: none;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.active .sidebar__text {
  color: #448aff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: 16px;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.active .icon-arrow__right {
  /* background-image: url("../icon/down-arrow-active.svg"); */
  -webkit-transform: rotate(0.75turn);
          transform: rotate(0.75turn);
  margin-left: auto;
  color: #448aff;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.active .sidebar__submenu {
  display: none;
  width: 100%;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.active .sidebar__submenu-list {
  list-style: none;
  width: 100%;
  height: auto;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.active .sidebar__submenu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 75px;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.active .sidebar__submenu-item > a {
  width: 100%;
  text-decoration: none;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.active .sidebar__submenu-item > a:hover .submenu__text {
  color: #448aff;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.active .sidebar__submenu-item > a .submenu__text {
  width: 30px;
  text-align: left;
  color: #000000;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.active .sidebar__submenu-item.active {
  padding-left: 55px;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.active .sidebar__submenu-item.active > a .submenu__text {
  color: #448aff;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.active .sidebar__submenu-item.active > a .submenu__text::before {
  content: "•";
  margin-right: 10px;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.show > a .icon-arrow__right {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.show .sidebar__submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.show .sidebar__submenu-list {
  list-style: none;
  width: 100%;
  height: auto;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.show .sidebar__submenu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 75px;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.show .sidebar__submenu-item > a {
  width: 100%;
  text-decoration: none;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.show .sidebar__submenu-item > a:hover .submenu__text {
  color: #448aff;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.show .sidebar__submenu-item > a .submenu__text {
  width: 30px;
  text-align: left;
  color: #000000;
}

.sidebar.hide {
  width: 100px;
}

.sidebar.hide .sidebar__header {
  padding: 0;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar.hide .sidebar__header .logo-img {
  width: 60px;
  height: 60px;
}

.sidebar.hide .sidebar__header .logo-text {
  display: none;
}

.sidebar.hide .sidebar__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar.hide .sidebar__body .sidebar__menu .sidebar__dropdown > a .sidebar__text {
  display: none;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}

.sidebar.hide .sidebar__body .sidebar__menu .sidebar__dropdown > a .icon-arrow__right {
  display: none;
}

.sidebar.hide .sidebar__body .sidebar__menu .sidebar__dropdown .sidebar__submenu {
  position: absolute;
  left: 100px;
  width: 200px;
  max-height: 100px;
}

.sidebar.hide .sidebar__body .sidebar__menu .sidebar__dropdown .sidebar__submenu-list {
  margin-top: 25px;
}

.sidebar.hide .sidebar__body .sidebar__menu .sidebar__dropdown .sidebar__submenu-item {
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10px;
}

.sidebar.hide .sidebar__body .sidebar__menu .sidebar__dropdown .sidebar__submenu-item > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar.hide .sidebar__body .sidebar__menu .sidebar__dropdown .sidebar__submenu-item > a .submenu__text {
  width: 100%;
}

main {
  width: calc(100% - 280px);
  margin-left: auto;
  max-height: calc(100vh - 80px);
  background-color: #f8f9fa;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  overflow-x: hidden;
  overflow-y: scroll;
}

main.sidebar__hide {
  width: calc(100% - 100px);
  margin-left: auto;
}

main .main-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 1280px;
  width: 100%;
  min-height: calc(100vh - 162px);
  max-height: calc(100vh - 162px);
  height: auto;
  background-color: #f8f9fa;
  margin: 16px auto;
}

main .main-content.bg__white {
  background-color: #ffffff;
}

.custom__dropdown {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.custom__dropdown-selected {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 6px 16px;
  border-radius: 5px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.custom__dropdown-selected.active {
  border-radius: 5px 5px 0 0;
}

.custom__dropdown-selected[disabled] {
  background-color: #fafafa;
  cursor: not-allowed;
}

.custom__dropdown-selected-text {
  width: calc(100% - 18px);
  font-size: 16px;
  color: inherit;
}

.custom__dropdown-selected::after {
  content: url("../icon/down-arrow.svg");
  width: 18px;
  height: 18px;
}

.custom__dropdown-list {
  position: absolute;
  top: 100%;
  list-style: none;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #ffffff;
  width: calc(100% - 2px);
  border: 1px;
  z-index: 999;
}

.custom__dropdown-list.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  border-radius: 0 0 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
}

.custom__dropdown-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 16px;
  cursor: pointer;
  z-index: 999;
}

.custom__dropdown-list-item:last-child {
  padding-bottom: 12px;
}

.custom__dropdown-list-item:hover {
  background-color: #5b9bd5;
  color: #ffffff;
}

.custom__dropdown-list-item:hover:last-child {
  border-radius: 0 0 5px 5px;
}

.rpa-checkbox__dropdown {
  position: relative;
  font-size: 14px;
  color: #333;
  width: 100%;
}

.rpa-checkbox__dropdown .rpa-checkbox__dropdown-list-by-category {
  margin: 8px;
  display: block;
}

.rpa-checkbox__dropdown .rpa-checkbox__dropdown-list-by-category:first-child {
  margin-top: 0px;
}

.rpa-checkbox__dropdown .rpa-checkbox__dropdown-list-by-category:last-child {
  margin-bottom: 0px;
}

.rpa-checkbox__dropdown .rpa-checkbox__dropdown-list-by-category.hidden {
  display: none;
}

.rpa-checkbox__dropdown .rpa-checkbox__dropdown-list {
  padding: 12px;
  background: #fff;
  position: absolute;
  top: 38px;
  width: 95%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  border-radius: 0 0 5px 5px;
  max-height: 33vh;
  overflow-y: scroll;
  z-index: 999;
  display: none;
}

.rpa-checkbox__dropdown .rpa-checkbox__dropdown-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 16px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

.rpa-checkbox__dropdown .rpa-checkbox__dropdown-option-topic {
  display: block;
  margin: 12px 0 8px;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}

.rpa-checkbox__dropdown .rpa-checkbox__dropdown-option {
  display: block;
  padding: 8px 12px;
  margin-left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}

.rpa-checkbox__dropdown .rpa-checkbox__dropdown-label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  height: 38px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 12px;
  line-height: 1;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

.rpa-checkbox__dropdown .rpa-checkbox__dropdown-label:before {
  content: "▼";
  float: right;
}

.rpa-checkbox__dropdown.on .rpa-checkbox__dropdown-label {
  border-radius: 5px 5px 0 0;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.rpa-checkbox__dropdown.on .rpa-checkbox__dropdown-list {
  display: block;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.rpa-checkbox__dropdown.on .rpa-checkbox__dropdown-list .rpa-checkbox__dropdown-input {
  width: 100%;
}

.rpa-checkbox__dropdown.on .rpa-checkbox__dropdown-list .rpa-checkbox__dropdown-option-topic {
  opacity: 1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.rpa-checkbox__dropdown.on .rpa-checkbox__dropdown-list .rpa-checkbox__dropdown-option {
  opacity: 1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.rpa-checkbox__dropdown.on .rpa-checkbox__dropdown-label:before {
  content: "▲";
}

.rpa-checkbox__dropdown [type="checkbox"] {
  position: relative;
  top: -1px;
  margin-right: 4px;
}

.container__box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.container__box.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__box.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container__box-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

.container__box-header-title {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}

.form__create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.form__create .multi__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.form__create .multi__input.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__create .multi__input.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form__create .multi__input .input__box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding: 8px;
}

.form__create .multi__input .input__box-title {
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
}

.form__create .multi__input .input__box-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px 14px;
  height: 38px;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.form__create .multi__input .input__box-wrapper[type="datetime-local"] {
  font-size: 14px;
}

.form__create .multi__input .dropdown__box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding: 8px;
}

.form__create .multi__input .dropdown__box-title {
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
}

.form__create .multi__input .dropdown__box-wrapper, .form__create .multi__input .dropdown__box-multi__select {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form__create .dynamic__form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.form__create .dynamic__form__input.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form__create .dynamic__form__input.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form__create .dynamic__form__input .row__single__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.form__create .dynamic__form__input .row__triple__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.form__create .dynamic__form__input .row__triple__input > .input__box {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 auto;
          flex: 3 1 auto;
}

.form__create-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.form__create-footer .float-left {
  display: block;
  float: left;
}

.form__create-footer .float-right {
  float: right;
}

.p-8 {
  padding: 8px;
}

.p-20 {
  padding: 20px;
}

.m__top-8 {
  margin-top: 8px;
}

.m__top-16 {
  margin-top: 16px;
}

.m__top-auto {
  margin-top: auto;
}

.m__bottom-8 {
  margin-bottom: 8px;
}

.m__bottom-16 {
  margin-bottom: 16px;
}

.m__right-5 {
  margin-right: 5px;
}

.m__left-5 {
  margin-left: 5px;
}

.d-block {
  display: block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-flex .row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.d-flex .column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify__content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify__content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify__content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify__content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align__items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align__items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align__items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  background-color: #ffffff;
  position: relative;
  bottom: 0;
  height: 50px;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

footer .footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: auto;
  font-size: 12px;
}

footer .footer-right {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 80px;
  height: auto;
  font-size: 12px;
}

.rpa__loading__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  padding: 20px 20px 20px;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.rpa__loading__wrapper p {
  padding: 0 0 20px;
}

.rpa__loading__line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  margin: 0 8px;
  background-color: #007bff;
}

.rpa__loading__load .rpa__loading__line:nth-last-child(1) {
  -webkit-animation: rpaLoadingAnimation 0.6s 0.1s linear infinite;
          animation: rpaLoadingAnimation 0.6s 0.1s linear infinite;
}

.rpa__loading__load .rpa__loading__line:nth-last-child(2) {
  -webkit-animation: rpaLoadingAnimation 0.6s 0.2s linear infinite;
          animation: rpaLoadingAnimation 0.6s 0.2s linear infinite;
}

.rpa__loading__load .rpa__loading__line:nth-last-child(3) {
  -webkit-animation: rpaLoadingAnimation 0.6s 0.3s linear infinite;
          animation: rpaLoadingAnimation 0.6s 0.3s linear infinite;
}

@-webkit-keyframes rpaLoadingAnimation {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes rpaLoadingAnimation {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.rpa__toast__container {
  position: fixed;
  z-index: 9;
  top: 90px;
  right: 40px;
}

.rpa__toast__container .toast {
  position: relative;
  width: 300px;
  max-width: 300px;
  min-width: 280px;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.15), 0 10px 10px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.15), 0 10px 10px -5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.rpa__toast__container .toast:hover {
  -webkit-box-shadow: 0 15px 20px -5px rgba(0, 0, 0, 0.15), 0 15px 15px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 20px -5px rgba(0, 0, 0, 0.15), 0 15px 15px -5px rgba(0, 0, 0, 0.1);
}

.rpa__toast__container .toast .rpa__toast__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0;
  color: #262626;
  font-weight: 600;
  font-size: 1.1rem;
}

.rpa__toast__container .toast .rpa__toast__title span {
  font-size: 1.2rem;
  padding: 0 10px 0 0;
}

.rpa__toast__container .toast .rpa__toast__text {
  color: #262626;
  margin: 5px 0 0 0;
}

.rpa__toast__container .toast .rpa__toast__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  height: 25px;
  width: 25px;
  right: -10px;
  top: -10px;
  padding: 0;
  margin: 0;
  background-color: #464646;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.15), 0 10px 10px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.15), 0 10px 10px -5px rgba(0, 0, 0, 0.1);
}

.rpa__toast__container .toast .rpa__toast__close:after, .rpa__toast__container .toast .rpa__toast__close:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #eee;
  border-radius: 3px;
}

.rpa__toast__container .toast .rpa__toast__close:after {
  width: 2px;
  height: 16px;
}

.rpa__toast__container .toast .rpa__toast__close:before {
  width: 16px;
  height: 2px;
}

.rpa__toast__container .toast.active {
  opacity: 1;
  visibility: visible;
}

.rpa__toast__container .toast.system {
  background-color: #77a1fc;
}

.rpa__toast__container .toast.system .rpa__toast__text {
  color: #eee;
}

.rpa__toast__container .toast.system .rpa__toast__title {
  color: #eee;
}

.rpa__toast__container .toast.success {
  background-color: #4ef7c4;
}

.rpa__toast__container .toast.warning {
  background-color: #fcbc69;
}

.rpa__toast__container .toast.warning .rpa__toast__text {
  color: #eee;
}

.rpa__toast__container .toast.warning .rpa__toast__title {
  color: #eee;
}

.rpa__toast__container .toast.bug {
  background-color: #fc6969;
}

.rpa__toast__container .toast.bug .rpa__toast__text {
  color: #eee;
}

.rpa__toast__container .toast.bug .rpa__toast__title {
  color: #eee;
}

.rpa__toast__container .toast.info {
  background-color: #33b5e5;
}

.rpa__toast__container .toast.info .rpa__toast__text {
  color: #eee;
}

.rpa__toast__container .toast.info .rpa__toast__title {
  color: #eee;
}
/*# sourceMappingURL=custom_style.css.map */