.conatiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  position: relative;
}

.icon-sz-12 {
  width: 12;
  height: 12;
}

.icon-sz-14 {
  width: 14;
  height: 14;
}

.icon-sz-16 {
  width: 16;
  height: 16;
}

.icon-sz-18 {
  width: 18;
  height: 18;
}

.icon-sz-20 {
  width: 20;
  height: 20;
}

.icon-sz-22 {
  width: 22;
  height: 22;
}

.icon-sz-24 {
  width: 24;
  height: 24;
}

.icon-sz-28 {
  width: 28;
  height: 28;
}

.icon-sz-30 {
  width: 30;
  height: 30;
}

.icon-sz-35 {
  width: 35;
  height: 35;
}

.icon-active-account {
  display: block;
  background-image: url("../icon/check_green.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

.icon-arrow__down {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-image: url("../icon/down-arrow.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  color: #000000;
  margin: 8px 0;
}

.icon-left-arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-image: url("../icon/down-arrow.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  color: #000000;
  margin: 8px 0;
  -webkit-transform: rotate(0.25turn);
          transform: rotate(0.25turn);
}

.icon-arrow__right {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-image: url("../icon/down-arrow.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  color: #000000;
}

.icon-change-password {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../icon/change-password.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

.icon-chat-bot {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-image: url("../icon/robotic.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon-close {
  display: block;
  background-image: url("../icon/cancel.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon-close-white-16 {
  display: block;
  background-image: url("../icon/cancel_white.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.icon-coming-soon {
  display: inline-block;
  background-image: url("../icon/loading.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.icon-contact-book {
  display: inline-block;
  background-image: url("../icon/agenda.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.icon-deactive-account {
  display: block;
  background-image: url("../icon/cancel_red.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

.icon-error-information {
  display: inline-block;
  background-image: url("../icon/exclamation-mark.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}

.icon-hide-password {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../icon/hide-password.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

.icon-history-list {
  display: block;
  background-image: url("../icon/history-circle.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.icon-information {
  display: block;
  background-image: url("../icon/information_icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}

.icon-information-14 {
  display: block;
  background-image: url("../icon/information_icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
}

.icon-internet {
  display: inline-block;
  background-image: url("../icon/globe.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}

.icon-import {
  display: inline-block;
  background-image: url("../icon/import.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.icon-letter {
  display: inline-block;
  background-image: url("../icon/letter.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
}

.icon-list {
  display: inline-block;
  background-image: url("../icon/list.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon-lock {
  display: block;
  background-image: url("../icon/padlock.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon-login {
  display: block;
  background-image: url("../icon/login.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.icon-logout {
  display: block;
  background-image: url("../icon/logout_icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

.icon-market {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-image: url("../icon/customer.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon-menu {
  display: block;
  background-image: url("../icon/menu.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
}

.icon-mobile-chat {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-image: url("../icon/mobile-chat.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon-more {
  display: block;
  background-image: url("../icon/more.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon-more-sz14 {
  display: block;
  background-image: url("../icon/more.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
}

.icon-pause {
  display: block;
  background-image: url("../icon/pause.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

.icon-pause-12 {
  display: block;
  background-image: url("../icon/pause.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

.icon-play {
  display: block;
  background-image: url("../icon/play.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.icon-play-12 {
  display: block;
  background-image: url("../icon/play.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

.icon-plus {
  display: block;
  background-image: url("../icon/plus.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon-plus-dark {
  display: block;
  background-image: url("../icon/plus_dark.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon-plus-active {
  display: block;
  background-image: url("../icon/plus_blue.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
}

.icon-plus-circle {
  display: block;
  background-image: url("../icon/plus_circle.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

.icon-push-notification {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-image: url("../icon/push-notification.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon-random {
  display: inline-block;
  background-image: url("../icon/random.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.icon-red-trash {
  display: block;
  background-image: url("../icon/delete.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}

.icon-red-trash-12 {
  display: block;
  background-image: url("../icon/delete.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

.icon-red-trash-14 {
  display: block;
  background-image: url("../icon/delete.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
}

.icon-red-trash-16 {
  display: block;
  background-image: url("../icon/delete.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.icon-red-trash-20 {
  display: block;
  background-image: url("../icon/delete.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.icon-restart {
  display: inline-block;
  background-image: url("../icon/restart.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.icon-search {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-image: url("../icon/search_icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.icon-search-white {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-image: url("../icon/search_icon_white.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.icon-settings {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-image: url("../icon/settingstools.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon-setting {
  display: block;
  background-image: url("../icon/settings_bold_icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}

.icon-show-password {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../icon/show-password.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

.icon-tab-setting {
  display: inline-block;
  background-image: url("../icon/setting-lines.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.icon-user {
  display: block;
  background-image: url("../icon/user.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon-user-acc-setting {
  display: block;
  background-image: url("../icon/acc_settings_icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

.active .icon-market {
  background-image: url("../icon/customer-active.svg");
}

.active .icon-push-notification {
  background-image: url("../icon/push-notification-active.svg");
}

.active .icon-chat-bot {
  background-image: url("../icon/robotic-active.svg");
}

.active .icon-mobile-chat {
  background-image: url("../icon/mobile-chat-active.svg");
}

.active .icon-settings {
  background-image: url("../icon/settingstools_icon-active.svg");
}

.active .icon-tab-setting {
  background-image: url("../icon/setting-lines-active.svg");
}

.active .icon-coming-soon {
  background-image: url("../icon/loading-active.svg");
}

.active .icon-contact-book {
  background-image: url("../icon/agenda-active.svg");
}

.active .icon-import {
  background-image: url("../icon/import-active.svg");
}

.active .icon-random {
  background-image: url("../icon/random-active.svg");
}

.hide .icon-market {
  width: 35px;
  height: 35px;
}

.hide .icon-push-notification {
  width: 35px;
  height: 35px;
}

.hide .icon-chat-bot {
  width: 35px;
  height: 35px;
}

.hide .icon-mobile-chat {
  width: 35px;
  height: 35px;
}

.hide .icon-settings {
  width: 35px;
  height: 35px;
}

.wechat {
  display: block;
  background-image: url("../icon/wechat.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 24px;
}

.qq {
  display: block;
  background-image: url("../icon/qq.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.width-5 {
  width: 5%;
}

.width-10 {
  width: 10%;
}

.width-15 {
  width: 15%;
}

.width-20 {
  width: 20%;
}

.width-25 {
  width: 25%;
}

.width-30 {
  width: 30%;
}

.width-35 {
  width: 35%;
}

.width-40 {
  width: 40%;
}

.width-45 {
  width: 45%;
}

.width-50 {
  width: 50%;
}

.width-55 {
  width: 55%;
}

.width-60 {
  width: 60%;
}

.width-65 {
  width: 65%;
}

.width-70 {
  width: 70%;
}

.width-75 {
  width: 75%;
}

.width-80 {
  width: 80%;
}

.width-85 {
  width: 85%;
}

.width-90 {
  width: 90%;
}

.width-95 {
  width: 95%;
}

.width-100 {
  width: 100%;
}

.p-8 {
  padding: 8px;
}

.p-20 {
  padding: 20px;
}

.m__top-8 {
  margin-top: 8px;
}

.m__top-16 {
  margin-top: 16px;
}

.m__top-auto {
  margin-top: auto;
}

.m__bottom-8 {
  margin-bottom: 8px;
}

.m__bottom-16 {
  margin-bottom: 16px;
}

.m__right-5 {
  margin-right: 5px;
}

.m__right-8 {
  margin-right: 8px;
}

.m__left-5 {
  margin-left: 5px;
}

ul.rpa-multi__layer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  margin: 0 10px;
  width: calc(100% - 20px);
}

ul.rpa-multi__layer-list li.rpa-multi__layer-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

ul.rpa-multi__layer-list li.rpa-multi__layer-list-item a.rpa-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer;
  color: #000000;
}

ul.rpa-multi__layer-list li.rpa-multi__layer-list-item .rpa-submenu-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

ul.rpa-multi__layer-list li.rpa-multi__layer-list-item .rpa-submenu-control::before {
  content: "+";
  margin-right: 8px;
  font-size: 30px;
}

ul.rpa-multi__layer-list li.rpa-multi__layer-list-item span.rpa-submenu-control.active::before {
  content: "-";
  margin-right: 8px;
  font-size: 30px;
}

ul.rpa-multi__layer-list li.rpa-multi__layer-list-item span.rpa-submenu-control ~ ul {
  display: none;
  opacity: 0;
  visibility: hidden;
  margin-left: 40px;
}

ul.rpa-multi__layer-list li.rpa-multi__layer-list-item span.rpa-submenu-control.rpa-has__child.active ~ ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

nav.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
}

nav.nav-container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 300px;
  cursor: pointer;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

nav.nav-container .menu .menu-label {
  cursor: pointer;
}

nav.nav-container .menu #rpa-sidebar-controller {
  display: none;
}

nav.nav-container .menu.sidebar__hide {
  padding-left: 100px;
}

nav.nav-container .user__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 30px 15px auto;
}

nav.nav-container .user__control .user__profile {
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 50%;
}

nav.nav-container .user__control .user__profile label {
  cursor: pointer;
}

nav.nav-container .user__control .user__profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#user-modal {
  display: none;
}

#user-modal:checked ~ .user__modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#user-modal:checked ~ .user__modal__bg {
  display: block;
}

.user__modal__bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 9998;
}

.user__modal {
  position: absolute;
  top: 90px;
  right: 8px;
  z-index: 9999;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 180px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
}

.user__modal__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 140px;
}

.user__modal__details .profile__img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.user__modal__details .profile__name {
  text-align: center;
  width: 100%;
  height: 30px;
  font-size: 16px;
  margin-top: 10px;
}

.user__modal__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.user__modal__control .account_information {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  border-radius: 5px;
  background-color: #28afd0;
  width: 135px;
  height: 38px;
  cursor: pointer;
  margin-right: 5px;
}

.user__modal__control .account_information span {
  color: #ffffff;
  margin-left: 8px;
}

.user__modal__control .logout {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  border-radius: 5px;
  background-color: #fa626b;
  width: 135px;
  height: 38px;
  cursor: pointer;
  margin-left: 5px;
}

.user__modal__control .logout span {
  color: #ffffff;
  margin-left: 8px;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.sidebar__header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  width: 100%;
}

.sidebar__header .logo-img {
  width: 50px;
  height: 50px;
  padding: 15px 0;
}

.sidebar__header .logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 8px;
  color: #3396d8;
}

.sidebar__body {
  display: block;
  width: 100%;
  height: auto;
}

.sidebar__body .sidebar__menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__body .sidebar__menu .sidebar__dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

.sidebar__body .sidebar__menu .sidebar__dropdown > a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  font-size: 16px;
  text-decoration: none;
}

.sidebar__body .sidebar__menu .sidebar__dropdown > a .sidebar__text {
  color: #000000;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: 16px;
  -webkit-transition: width 0.3s all;
  transition: width 0.3s all;
}

.sidebar__body .sidebar__menu .sidebar__dropdown > a .icon-arrow__right {
  -webkit-transform: rotate(0.75turn);
          transform: rotate(0.75turn);
  margin-left: auto;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}

.sidebar__body .sidebar__menu .sidebar__dropdown .sidebar__submenu {
  display: none;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.active .sidebar__text {
  color: #448aff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: 16px;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.active .icon-arrow__right {
  /* background-image: url("../icon/down-arrow-active.svg"); */
  -webkit-transform: rotate(0.75turn);
          transform: rotate(0.75turn);
  margin-left: auto;
  color: #448aff;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.active .sidebar__submenu {
  display: none;
  width: 100%;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.active .sidebar__submenu-list {
  list-style: none;
  width: 100%;
  height: auto;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.active .sidebar__submenu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 75px;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.active .sidebar__submenu-item > a {
  width: 100%;
  text-decoration: none;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.active .sidebar__submenu-item > a:hover .submenu__text {
  color: #448aff;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.active .sidebar__submenu-item > a .submenu__text {
  width: 30px;
  text-align: left;
  color: #000000;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.active .sidebar__submenu-item.active {
  padding-left: 55px;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.active .sidebar__submenu-item.active > a .submenu__text {
  color: #448aff;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.active .sidebar__submenu-item.active > a .submenu__text::before {
  content: "•";
  margin-right: 10px;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.show > a .icon-arrow__right {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.show .sidebar__submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.show .sidebar__submenu-list {
  list-style: none;
  width: 100%;
  height: auto;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.show .sidebar__submenu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 75px;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.show .sidebar__submenu-item > a {
  width: 100%;
  text-decoration: none;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.show .sidebar__submenu-item > a:hover .submenu__text {
  color: #448aff;
}

.sidebar__body .sidebar__menu .sidebar__dropdown.show .sidebar__submenu-item > a .submenu__text {
  width: 30px;
  text-align: left;
  color: #000000;
}

.sidebar.hide {
  width: 100px;
}

.sidebar.hide .sidebar__header {
  padding: 0;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar.hide .sidebar__header .logo-img {
  width: 60px;
  height: 60px;
}

.sidebar.hide .sidebar__header .logo-text {
  display: none;
}

.sidebar.hide .sidebar__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar.hide .sidebar__body .sidebar__menu .sidebar__dropdown > a .sidebar__text {
  display: none;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}

.sidebar.hide .sidebar__body .sidebar__menu .sidebar__dropdown > a .icon-arrow__right {
  display: none;
}

.sidebar.hide .sidebar__body .sidebar__menu .sidebar__dropdown .sidebar__submenu {
  position: absolute;
  left: 100px;
  width: 200px;
  max-height: 100px;
}

.sidebar.hide .sidebar__body .sidebar__menu .sidebar__dropdown .sidebar__submenu-list {
  margin-top: 25px;
}

.sidebar.hide .sidebar__body .sidebar__menu .sidebar__dropdown .sidebar__submenu-item {
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10px;
}

.sidebar.hide .sidebar__body .sidebar__menu .sidebar__dropdown .sidebar__submenu-item > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar.hide .sidebar__body .sidebar__menu .sidebar__dropdown .sidebar__submenu-item > a .submenu__text {
  width: 100%;
}

footer {
  background-color: #ffffff;
  position: relative;
  bottom: 0;
  height: 50px;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

footer .footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: auto;
  font-size: 12px;
}

footer .footer-right {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 80px;
  height: auto;
  font-size: 12px;
}

.rpa__loading__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  padding: 20px 20px 20px;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.rpa__loading__wrapper p {
  padding: 0 0 20px;
}

.rpa__loading__line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  margin: 0 8px;
  background-color: #007bff;
}

.rpa__loading__load .rpa__loading__line:nth-last-child(1) {
  -webkit-animation: rpaLoadingAnimation 0.6s 0.1s linear infinite;
          animation: rpaLoadingAnimation 0.6s 0.1s linear infinite;
}

.rpa__loading__load .rpa__loading__line:nth-last-child(2) {
  -webkit-animation: rpaLoadingAnimation 0.6s 0.2s linear infinite;
          animation: rpaLoadingAnimation 0.6s 0.2s linear infinite;
}

.rpa__loading__load .rpa__loading__line:nth-last-child(3) {
  -webkit-animation: rpaLoadingAnimation 0.6s 0.3s linear infinite;
          animation: rpaLoadingAnimation 0.6s 0.3s linear infinite;
}

@-webkit-keyframes rpaLoadingAnimation {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes rpaLoadingAnimation {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.rpa__toast__container {
  position: fixed;
  z-index: 9;
  top: 90px;
  right: 40px;
}

.rpa__toast__container .toast {
  position: relative;
  width: 300px;
  max-width: 300px;
  min-width: 280px;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.15), 0 10px 10px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.15), 0 10px 10px -5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.rpa__toast__container .toast:hover {
  -webkit-box-shadow: 0 15px 20px -5px rgba(0, 0, 0, 0.15), 0 15px 15px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 20px -5px rgba(0, 0, 0, 0.15), 0 15px 15px -5px rgba(0, 0, 0, 0.1);
}

.rpa__toast__container .toast .rpa__toast__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0;
  color: #262626;
  font-weight: 600;
  font-size: 1.1rem;
}

.rpa__toast__container .toast .rpa__toast__title span {
  font-size: 1.2rem;
  padding: 0 10px 0 0;
}

.rpa__toast__container .toast .rpa__toast__text {
  color: #262626;
  margin: 5px 0 0 0;
}

.rpa__toast__container .toast .rpa__toast__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  height: 25px;
  width: 25px;
  right: -10px;
  top: -10px;
  padding: 0;
  margin: 0;
  background-color: #464646;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.15), 0 10px 10px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.15), 0 10px 10px -5px rgba(0, 0, 0, 0.1);
}

.rpa__toast__container .toast .rpa__toast__close:after, .rpa__toast__container .toast .rpa__toast__close:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #eee;
  border-radius: 3px;
}

.rpa__toast__container .toast .rpa__toast__close:after {
  width: 2px;
  height: 16px;
}

.rpa__toast__container .toast .rpa__toast__close:before {
  width: 16px;
  height: 2px;
}

.rpa__toast__container .toast.active {
  opacity: 1;
  visibility: visible;
}

.rpa__toast__container .toast.system {
  background-color: #77a1fc;
}

.rpa__toast__container .toast.system .rpa__toast__text {
  color: #eee;
}

.rpa__toast__container .toast.system .rpa__toast__title {
  color: #eee;
}

.rpa__toast__container .toast.success {
  background-color: #4ef7c4;
}

.rpa__toast__container .toast.warning {
  background-color: #fcbc69;
}

.rpa__toast__container .toast.warning .rpa__toast__text {
  color: #eee;
}

.rpa__toast__container .toast.warning .rpa__toast__title {
  color: #eee;
}

.rpa__toast__container .toast.bug {
  background-color: #fc6969;
}

.rpa__toast__container .toast.bug .rpa__toast__text {
  color: #eee;
}

.rpa__toast__container .toast.bug .rpa__toast__title {
  color: #eee;
}

.rpa__toast__container .toast.info {
  background-color: #33b5e5;
}

.rpa__toast__container .toast.info .rpa__toast__text {
  color: #eee;
}

.rpa__toast__container .toast.info .rpa__toast__title {
  color: #eee;
}

main {
  width: calc(100% - 280px);
  margin-left: auto;
  max-height: calc(100vh - 80px);
  background-color: #f8f9fa;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  overflow-x: hidden;
  overflow-y: scroll;
}

main.sidebar__hide {
  width: calc(100% - 100px);
  margin-left: auto;
}

main .main-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 1280px;
  width: 100%;
  min-height: calc(100vh - 162px);
  height: auto;
  background-color: #f8f9fa;
  margin: 16px auto;
}

main .main-content .main__body__error {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 20px;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #fdecea;
  border-radius: 10px;
  opacity: 0.75;
  width: 100%;
  height: auto;
}

main .main-content .main__body__error.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .main-content .main__body__error .mian__error__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin-left: 8px;
}

main .main-content .main__body__error .mian__error__message .main__error__msg {
  color: #611a15;
  font-size: 16px;
  font-weight: 500;
}

main .main-content .main__body__error .mian__error__message .main__error__token {
  color: #611a15;
  font-size: 14px;
}

main .main-content .robot__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: 100%;
  background-color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.1);
}

main .main-content .robot__list-header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  width: 100%;
  height: 100px;
  font-size: 20px;
  padding: 16px 24px;
}

main .main-content .robot__list-body {
  display: block;
  width: 100%;
}

main .main-content .robot__list-body .content {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-content .robot__list-body .content__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 96px;
  padding: 22px 32px;
}

main .main-content .robot__list-body .content__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: auto;
}

main .main-content .robot__list-body .content__item-info .robot__img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 52px;
  height: 52px;
  background-color: #308fcc;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
}

main .main-content .robot__list-body .content__item-info .robot__img .robot__images {
  width: 40px;
  height: 40px;
}

main .main-content .robot__list-body .content__item-info .robot__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 16px;
  cursor: pointer;
}

main .main-content .robot__list-body .content__item-info .robot__info-id {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

main .main-content .robot__list-body .content__item-info .robot__info-name {
  font-size: 16px;
  color: #448aff;
  width: 422px;
  overflow: hidden;
  word-break: break-all;
  height: auto;
  -webkit-box-orient: vertical;
  max-height: 75px;
  display: block;
  display: -webkit-box;
  white-space: wrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}

main .main-content .robot__list-body .content__item-info .robot__info-name:hover {
  text-decoration: underline;
}

main .main-content .robot__list-body .content__item-info .robot__info-token {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

main .main-content .robot__list-body .content__item-control {
  display: block;
  cursor: pointer;
  margin-right: 30px;
  margin-left: auto;
}

main .main-content .robot__list-body .content__item-control .more {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding: 3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: none;
}

main .main-content .robot__list-body .content__item-control .more:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

main .main-content .robot__list-body .content__item-control .more .control__menu {
  position: absolute;
  right: 240px;
  margin-top: 10px;
  background-color: #ffffff;
  display: none;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  z-index: 9999;
}

main .main-content .robot__list-body .content__item-control .more .control__menu .menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 122px;
}

main .main-content .robot__list-body .content__item-control .more .control__menu .menu__item .divider {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

main .main-content .robot__list-body .content__item-control .more .control__menu .menu__item > label {
  width: 100%;
}

main .main-content .robot__list-body .content__item-control .more .control__menu .menu__item__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 16px;
  cursor: pointer;
}

main .main-content .robot__list-body .content__item-control .more .control__menu .menu__item__btn > span {
  color: rgba(0, 0, 0, 0.8);
  margin-left: 16px;
}

main .main-content .robot__list-body .content__item-control .more .control__menu .menu__item__btn:hover {
  background-color: #c4c4c4;
}

main .main-content .float__icon {
  position: fixed;
  right: 16px;
  bottom: 66px;
  background-color: #448aff;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

main .main-content .float__icon > label {
  cursor: pointer;
}

main .main-content .float__icon > a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#create-bot-modal {
  display: none;
}

#create-bot-modal:checked ~ .new__bot__modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#create-bot-modal:checked ~ .new__bot__modal__bg {
  display: block;
  overflow: hidden;
}

.new__bot__modal__bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.3);
}

.new__bot__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  padding: 16px 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 650px;
  height: auto;
  z-index: 9999;
  border-radius: 5px;
}

.new__bot__modal .new__bot-wrapper {
  display: block;
  position: relative;
  width: 650px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 90%;
  overflow: auto;
}

.new__bot__modal .new__bot-wrapper .modal__header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 32px;
}

.new__bot__modal .new__bot-wrapper .modal__header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.new__bot__modal .new__bot-wrapper .modal__header-title-text {
  text-align: center;
  color: #000000;
}

.new__bot__modal .new__bot-wrapper .modal__header-title-close {
  display: block;
  cursor: pointer;
}

.new__bot__modal .new__bot-wrapper .modal__header-progress .modal__header-breadcrumbs {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.new__bot__modal .new__bot-wrapper .modal__header-progress .modal__header-breadcrumbs .modal__header-breadcrumbs__item {
  display: inline-block;
  position: relative;
}

.new__bot__modal .new__bot-wrapper .modal__header-progress .modal__header-breadcrumbs .modal__header-breadcrumbs__item:not(:last-child) {
  padding-right: 32px;
  margin-right: 12px;
}

.new__bot__modal .new__bot-wrapper .modal__header-progress .modal__header-breadcrumbs .modal__header-breadcrumbs__item:not(:last-child):after {
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  content: "›";
}

.new__bot__modal .new__bot-wrapper .modal__header-progress .modal__header-breadcrumbs .modal__header-breadcrumbs__element {
  width: 25px;
  height: 25px;
  padding: 8px;
  font-size: 16px;
  border-radius: 50%;
  border: 2px solid #f8f9fa;
  color: #2e4045;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.new__bot__modal .new__bot-wrapper .modal__header-progress .modal__header-breadcrumbs .modal__header-breadcrumbs__element.modal__header-breadcrumbs__element--active {
  background: #448aff;
  color: white;
  border: 2px solid #448aff;
}

.new__bot__modal .new__bot-wrapper .modal__header-progress .modal__header-breadcrumbs .modal__header-breadcrumbs__element .done {
  display: inline-block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 12px;
  width: 6px;
  border-bottom: 4px solid lightgreen;
  border-right: 4px solid lightgreen;
}

.new__bot__modal .new__bot-wrapper .modal__divider {
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 32px;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-form-wrapper .modal__body-step.hidden {
  display: none;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-form-wrapper .single-input-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  border: none;
  padding: 16px 0;
  margin: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-form-wrapper .single-input-box .modal__body-button--negative {
  background-color: #bfb5b2;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-form-wrapper .single-input-box .modal__body-dropdown {
  width: 100%;
  margin: 16px 0 32px;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-form-wrapper .single-input-box .modal__body-dropdown .dropdown-field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  padding: 0 15px;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-form-wrapper .single-input-box .modal__body-dropdown .dropdown-field.active {
  border-radius: 5px 5px 0 0;
  border-bottom: none;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-form-wrapper .single-input-box .modal__body-dropdown .dropdown-field > span.option-selected {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  width: calc(99% - 18px);
  height: 100%;
  padding: 5px 0px;
  margin: 0 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.8);
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-form-wrapper .single-input-box .modal__body-dropdown .dropdown-field > span.option-selected > span {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-form-wrapper .single-input-box .modal__body-dropdown .dropdown-field .select-options {
  display: none;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  width: 100.6%;
  top: 100%;
  left: -1px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0 0 5px 5px;
  height: 100%;
  max-height: 165px;
  overflow-y: scroll;
  z-index: 99;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-form-wrapper .single-input-box .modal__body-dropdown .dropdown-field .select-options.active {
  display: block;
  height: auto;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-form-wrapper .single-input-box .modal__body-dropdown .dropdown-field .select-options li {
  list-style: none;
  padding: 10px 20px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  font-size: 16px;
  width: auto;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-form-wrapper .single-input-box .modal__body-dropdown .dropdown-field .select-options li:hover {
  background-color: #697379;
  color: #ffffff;
  cursor: pointer;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-form-wrapper .single-input-box .input-box-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px 16px;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-form-wrapper .single-input-box .input-box-wrapper > input {
  width: 100%;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-form-wrapper .single-input-box .input-box-wrapper > input[type="text"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4px 8px;
  outline: none;
  border: none;
  background-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  outline: none;
  color: #000000;
  font-size: 18px;
  width: 100%;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-form-wrapper .single-input-box .input-box-wrapper > input[type="text"]:hover {
  opacity: 0.7;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-form-wrapper .single-input-box .input-box-wrapper > input[type="text"]:focus {
  opacity: 0.7;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-form-wrapper .single-input-box > label {
  display: block;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-form-wrapper .single-input-box .modal__body__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  margin: 16px 0;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-form-wrapper .single-input-box .modal__body__checkbox .language__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-form-wrapper .single-input-box .modal__body__checkbox .language__wrapper .lang__item {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-left: 30px;
  margin: 0 5px;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-form-wrapper .single-input-box .modal__body__checkbox .language__wrapper .lang__item > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-form-wrapper .single-input-box .modal__body__checkbox .language__wrapper .lang__item .radio__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #448aff;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-form-wrapper .single-input-box .modal__body__checkbox .language__wrapper .lang__item .radio__mark:after {
  content: "";
  position: absolute;
  display: none;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-form-wrapper .single-input-box .modal__body__checkbox .language__wrapper .lang__item > input:checked ~ .radio__mark:after {
  display: block;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-form-wrapper .single-input-box .modal__body__checkbox .language__wrapper .lang__item .radio__mark:after {
  top: 3px;
  right: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  background-color: #146aff;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-form-wrapper .single-input-box .modal__body__checkbox .create__btn {
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 12px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  background-color: #448aff;
  color: #ffffff;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-form-wrapper .single-input-box .modal__body__checkbox .create__btn.diasble__status {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: not-allowed;
  background-color: #c4c4c4;
  color: rgba(0, 0, 0, 0.3);
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-result {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-result #results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-result #results .circle-loader {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-color: #5cb85c;
  -webkit-animation: loader-spin 1.2s infinite linear;
          animation: loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-result #results .load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: #5cb85c;
  -webkit-transition: border 500ms ease-out;
  transition: border 500ms ease-out;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-result #results .checkmark {
  display: block;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-result #results .checkmark.draw:after {
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-name: checkmark;
          animation-name: checkmark;
  -webkit-transform: scaleX(-1) rotate(135deg);
          transform: scaleX(-1) rotate(135deg);
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-result #results .checkmark:after {
  opacity: 1;
  height: 2.5em;
  width: 1.25em;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  border-right: 3px solid #5cb85c;
  border-top: 3px solid #5cb85c;
  content: "";
  left: 1.25em;
  top: 2.5em;
  position: absolute;
}

@-webkit-keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 1.25em;
    opacity: 1;
  }
  40% {
    height: 2.5em;
    width: 1.25em;
    opacity: 1;
  }
  100% {
    height: 2.5em;
    width: 1.25em;
    opacity: 1;
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 1.25em;
    opacity: 1;
  }
  40% {
    height: 2.5em;
    width: 1.25em;
    opacity: 1;
  }
  100% {
    height: 2.5em;
    width: 1.25em;
    opacity: 1;
  }
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-result__title {
  text-align: center;
  color: #000000;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-result__item {
  display: block;
  width: 100%;
  margin: 16px 0;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-result__label {
  display: block;
  margin-bottom: 4px;
  color: #2e4045;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-result__value {
  display: block;
  color: #83adb5;
  word-wrap: break-word;
}

.new__bot__modal .new__bot-wrapper .modal__body-wrapper .modal__body-result__button {
  width: 100%;
  height: 40px;
}

.new__bot__modal .new__bot-wrapper .modal__body-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 16px;
  color: #ffffff;
  background-color: #448aff;
  opacity: 0.75;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 0;
}

.new__bot__modal .new__bot-wrapper .modal__body-button:hover {
  opacity: 1;
}

.new__bot__modal .new__bot-wrapper .modal__body-button-text {
  font-size: 14px;
  color: inherit;
}

.new__bot__modal .new__bot-wrapper .modal__footer__content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #e8f4fd;
  margin-top: 24px;
}

.new__bot__modal .new__bot-wrapper .modal__footer__content > a {
  margin-left: 16px;
  text-decoration: none;
  color: #448aff;
  font-weight: bold;
  cursor: pointer;
}

.new__bot__modal .new__bot-wrapper .modal__footer__content > a:hover {
  text-decoration: underline;
}

#delete-bot-modal {
  display: none;
}

#delete-bot-modal:checked ~ .delete__bot__modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#delete-bot-modal:checked ~ .delete__bot__modal__bg {
  display: block;
  overflow: hidden;
}

.delete__bot__modal__bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.3);
}

.delete__bot__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  padding: 16px 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: auto;
  z-index: 9999;
}

.delete__bot__modal .modal__divider {
  width: 100%;
  height: 1px;
  margin: 5px 0;
  background-color: rgba(0, 0, 0, 0.14);
}

.delete__bot__modal .modal__header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
}

.delete__bot__modal .modal__header > span {
  width: 100%;
  font-size: 20px;
  color: #000000;
}

.delete__bot__modal .modal__body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
}

.delete__bot__modal .modal__body > span {
  width: 100%;
  font-size: 16px;
  color: #000000;
}

.delete__bot__modal .modal__footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
}

.delete__bot__modal .modal__footer .comfirm__delete {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background-color: #fa626b;
  margin-left: 8px;
  cursor: pointer;
  width: 60px;
  height: 28px;
}

.delete__bot__modal .modal__footer .comfirm__delete > span {
  font-size: 14px;
  color: #ffffff;
}

.delete__bot__modal .modal__footer .cancel__delete {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  margin-right: 8px;
  cursor: pointer;
  width: 60px;
  height: 28px;
}

.delete__bot__modal .modal__footer .cancel__delete > label {
  width: 100%;
}

.delete__bot__modal .modal__footer .cancel__delete > label > span {
  font-size: 14px;
  color: #000000;
}

.delete__bot__modal .modal__footer .cancel__delete:hover {
  background-color: #c4c4c4;
}

.delete__bot__modal .modal__footer .cancel__delete:hover > span {
  color: #ffffff;
}
/*# sourceMappingURL=telegram_group_bot-home.css.map */

/* Dev Custom CSS */
.rpa__toast__container {
  z-index: 10001 !important;
}

.icon-seo {
  display: inline-flex;
  /* background-image: url("./icon/seo.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.active .icon-seo {
  background-image: url("./icon/seo-active.svg");
}

.hide .icon-seo {
  width: 35px;
  height: 35px;
}

.icon-play {
  width: 20px !important;
  height: 20px !important;
}

.icon-restart {
  width: 20px !important;
  height: 20px !important;
}

.icon-history-list {
  width: 20px !important;
  height: 20px !important;
}

.icon-pause {
  width: 20px !important;
  height: 20px !important;
}

.icon-red-trash-18 {
  width: 20px !important;
  height: 20px !important;
}

.icon-deactive-account {
  width: 20px !important;
  height: 20px !important;
}

.icon-red-trash-12 {
  width: 20px !important;
  height: 20px !important;
  cursor: pointer;
}

.icon-active-account {
  width: 20px !important;
  height: 20px !important;
}