@use "sass:math";

@mixin badge($bg-color: $info) {
  border-radius: $base-border-radius * 4;
  background-color: $bg-color;
  padding: 4px 8px;
  font-size: $font-size-md;
  font-weight: normal;
}

.rpa-badge {
  @include badge;
}

@each $key, $val in $badge-colors {
  .rpa-badge-#{$key} {
    @include badge($val);
  }
}
