@use "sass:math";

@mixin btn($bg-color: #e2e2e2) {
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  display: inline-block;
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: $bg-color;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.rpa-btn-standard {
  @include btn;
}

.rpa-btn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;

  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: math.div($base-border-radius, 4);
  cursor: pointer;

  &.disabled,
  &[disabled] {
    background-color: #ececec !important;
    color: #a9a9a9 !important;
    cursor: not-allowed;

    &:hover {
      background-color: #ececec;
    }
  }
}

@each $key, $val in $colors {
  .rpa-btn-#{$key} {
    @include btn($val);

    &:hover {
      background-color: lighten($val, 5);
    }
  }

  .rpa-btn-outlined-#{$key} {
    @include btn(#{$key});
    color: rgba($val, 0.7);
    border: $base-border-thickness solid rgba($val, 0.7);
    font-weight: 500;

    &:hover {
      color: rgba($val, 1);
      border: $base-border-thickness solid rgba($val, 1);
      background-color: $val;
    }
  }

  .rpa-btn-complement-#{$key} {
    @include btn($val);
    color: light-comp($val);

    &:hover {
      color: $val;
      background-color: light-comp($val);
    }
  }
}

.rpa-btn-sm {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  font-size: 14px;
  min-width: fit-content;
}

.rpa-btn-md {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 18px;
  min-width: fit-content;
}

.rpa-btn-lg {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  font-size: 22px;
  min-width: fit-content;
}

.rpa {
  &-btn__cancel {
    box-sizing: border-box;
    display: block;

    width: 100px;
    padding: 8px;
    border-radius: math.div($base-border-radius, 4);
    background-color: rgba(241, 241, 241, 0.8);

    border: none;
    outline: none;
    cursor: pointer;
    color: $text-spanish-gray;

    &:hover {
      background-color: #dfdfdf;
    }

    &-text {
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: inherit;
    }
  }

  &-btn__create {
    box-sizing: border-box;
    display: block;

    width: 100px;
    padding: 8px;
    border-radius: math.div($base-border-radius, 4);
    background-color: map-get($colors, "primary");

    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: rgba(map-get($colors, "primary"), 0.9);
    }

    &-text {
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: $text-white-color;
    }
  }

  &-btn__review {
    box-sizing: border-box;
    display: block;

    width: 100px;
    padding: 8px;
    border-radius: math.div($base-border-radius, 4);
    background-color: map-get($colors, "pacific-blue");

    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: rgba(map-get($colors, "pacific-blue"), 0.9);
    }

    &-text {
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: $text-white-color;
    }
  }

  &-btn__primary {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 8px;
    border-radius: math.div($base-border-radius, 4);
    background-color: map-get($colors, "primary");

    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: rgba(map-get($colors, "primary"), 0.9);
    }

    &-text {
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: $text-white-color;
    }
  }
}

.float__icon {
  background-color: map-get($colors, "united-nations-blue");
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 50%;

  > label {
    cursor: pointer;
  }

  > a {
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
