.cke_chrome {
  border-radius: 5px !important;
  border: 1px solid #ccc4e6 !important;

  .cke_inner {
    border-radius: 5px;
  }
}

.cke_top {
  border-radius: 4px 4px 0px 0px;
}

.cke_bottom {
  border-radius: 0px 0px 4px 4px;
}
