@use "sass:math";

/* Old Version*/
.custom__dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  &-selected {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 6px 12px;
    border-radius: math.div($base-border-radius, 4);
    color: #000000;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;

    &.active {
      border-radius: math.div($base-border-radius, 4) math.div($base-border-radius, 4) 0 0;
    }

    &[disabled] {
      background-color: #fafafa;
      cursor: not-allowed;
    }

    &-text {
      width: calc(100% - 18px);
      font-size: 16px;
      color: inherit;
    }

    &::after {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
      width: 18px;
      height: 18px;
    }
  }

  &-list {
    position: absolute;
    top: 100%;
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
    width: calc(100% - 2px);
    border: 1px;
    z-index: 999;

    &.active {
      display: flex;
      height: auto;
      border-radius: 0 0 math.div($base-border-radius, 4) math.div($base-border-radius, 4);
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-top: none;
    }

    &-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      box-sizing: border-box;
      padding: 8px 16px;
      cursor: pointer;
      z-index: 999;

      &:last-child {
        padding-bottom: 12px;
      }

      &:hover {
        background-color: #5b9bd5;
        color: #ffffff;

        &:last-child {
          border-radius: 0 0 math.div($base-border-radius, 4) math.div($base-border-radius, 4);
        }
      }
    }
  }
}

.rpa-dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  &.purple {
    .rpa-dropdown-selected {
      border: 1px solid #ccc4e6;

      &:hover,
      &.active {
        border: 1px solid #705cb9;

        &::after {
          opacity: 1;
        }
      }
    }

    .rpa-dropdown-list {
      border: 1px solid #705cb9;
      border-top: none;
      max-height: 175px;
      overflow: hidden;
      overflow-y: scroll;

      &-item:hover {
        background-color: #705cb9;
        color: #fafafa;
      }
    }
  }

  &-selected {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 6px 10px;
    border-radius: math.div($base-border-radius, 4);
    color: #404040;
    background-color: #ffffff;
    cursor: pointer;

    &.active {
      border-radius: math.div($base-border-radius, 4) math.div($base-border-radius, 4) 0 0;
    }

    &[disabled] {
      background-color: #ececec;
      cursor: not-allowed;
    }

    &-text {
      width: calc(100% - 20px);
      font-size: 14px;
      font-weight: 400;
      color: inherit;
    }

    &::after {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
      width: 18px;
      height: 18px;
      opacity: 0.5;
    }
  }

  &-list {
    position: absolute;
    top: 100%;
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
    width: 100%;
    z-index: 999;

    &.active {
      display: flex;
      min-height: 1px;
      height: auto;
      border-radius: 0 0 math.div($base-border-radius, 4) math.div($base-border-radius, 4);
    }

    &-item {
      box-sizing: border-box;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      padding: 4px 10px;
      color: #404040;
      font-size: 14px;
      font-weight: 400;
      z-index: 999;
      cursor: pointer;

      &:last-child {
        padding-bottom: 8px;
      }

      &:hover {
        background-color: inherit;
        color: inherit;

        &:last-child {
          border-radius: 0 0 3px 3px;
        }
      }
    }
  }
}
