.rpa-date-input-purple .input-group-prepend .rpa-date-icon {
  border: solid 1px #ccc4e6;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: transparent;
}

/* Flat Picker with purple theme */
.rpa-datepicker {
  border-radius: 5px;
  border: solid 1px #ccc4e6;

  .flatpickr-wrapper {
    width: calc(100% - 40px);
    border-radius: 4px;

    .flatpickr-day.selected,
    .flatpickr-day.startRange,
    .flatpickr-day.selected,
    .flatpickr-day.endRange {
      background-color: #6d5db3;
      border: none;
    }

    ~ .input-group-text {
      border-radius: 5px;
      background-color: #ffffff;
      border: none;
      border-left-width: 0;
      color: #ccc4e6;
      transition: none;
      height: 34px;
    }

    &:has(.rpa-date-input-purple[disabled]) {
      width: calc(100% - 39px);
      background-color: #ececec;
      cursor: not-allowed;

      ~ .input-group-text {
        background-color: #ececec;
        cursor: not-allowed;
      }
    }
  }

  .rpa-date-input-purple {
    background-color: #ffffff;
    border-right-width: 0;
    transition: none;
    height: 34px;
    border: none;

    &::-moz-placeholder {
      color: rgba(112, 92, 185, 0.5);
    }

    &:-ms-input-placeholder {
      color: rgba(112, 92, 185, 0.5);
    }

    &::placeholder {
      color: rgba(112, 92, 185, 0.5);
    }

    ~ .input-group-text {
      border-radius: 5px;
      background-color: #ffffff;
      border: none;
      border-left-width: 0;
      color: #ccc4e6;
      transition: none;
      height: 34px;
    }

    input[type="text"] {
      border-radius: 5px;
      border-right-width: 0px;
      background-color: #fff;
    }

    &[disabled] {
      background-color: #ececec;
      cursor: not-allowed;

      ~ .input-group-text {
        background-color: #ececec;
        cursor: not-allowed;
      }
    }
  }

  &:focus,
  &.active,
  &:hover {
    border: 1px solid #6a53ba;
    cursor: pointer;

    .input-group-text {
      color: #6a53ba;
    }
  }
}
