.rpa-goto-top {
  position: fixed;
  border-radius: 10px;
  background-color: rgba(51, 51, 51, 0.5);
  width: 64px;
  height: 64px;
  bottom: 20px;
  right: 20px;
  display: none;
  justify-content: center;
  align-items: center;
  outline: none;
  z-index: 1091;
  cursor: pointer;

  &.active {
    display: flex;
  }

  span {
    transition: transform 0.2s infinite;
    animation-name: gototop;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media screen and (max-width: 600px) {
  .rpa-goto-top {
    width: 42px;
    height: 42px;
    bottom: 10px;
    right: 10px;

    svg {
      width: 30px !important;
      height: 30px !important;
    }

    span {
      transition: transform 0.2s infinite;
      animation-name: gototop;
      animation-duration: 0.5s;
      animation-timing-function: linear;
      animation-delay: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}

/* The animation code */
@keyframes gototop {
  from {
    transform: translateY(4px);
  }
  to {
    transform: translateY(-6px);
  }
}
