@use "sass:math";

.rpa-input-purple {
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc4e6;
  height: 34px;

  &:focus-visible,
  &:focus,
  &:hover {
    outline: none;
    border: 1px solid #705cb9;
  }

  &::-moz-placeholder {
    color: rgba(112, 92, 185, 0.5);
  }

  &:-ms-input-placeholder {
    color: rgba(112, 92, 185, 0.5);
  }

  &::placeholder {
    color: rgba(112, 92, 185, 0.5);
  }

  &[disabled] {
    background-color: #ececec;
    cursor: not-allowed;
  }
}

.input__box {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;

  &-title {
    flex: 0 1 auto;
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
    min-width: 80px;
  }

  &-wrapper {
    flex: 1 1 auto;
    box-sizing: border-box;
    padding: 6px 14px;
    height: 38px;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: math.div($base-border-radius, 4);
  }
}

.dropdown__box {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  padding: 8px;

  &-title {
    flex: 0 1 auto;
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
    min-width: 80px;
  }

  &-wrapper {
    flex: 11 1 auto;
  }
}

.rpa-file-upload {
  display: block;

  label {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 8px;
    height: 38px;
    cursor: pointer;
  }

  span {
    text-align: center;
    font-size: 14px;
    color: rgba(112, 92, 185, 0.5);
  }

  input {
    display: none;
    opacity: 0;
    visibility: hidden;

    &[disabled] ~ label {
      background-color: #ececec;
      cursor: not-allowed;
    }
  }
}

.rpa-checkbox-purple {
  position: relative;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  cursor: pointer;

  &::before {
    content: "";
    position: relative;
    display: block;
    background-color: #ffffff;
    border: 1px solid #ccc4e6;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    z-index: 90;
  }

  &:checked::before {
    content: "";
    background-color: #705cb9;
    z-index: 90;
  }

  &:checked::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
    width: 5px;
    height: 8px;
    border: 2px solid #fff;
    border-left: none;
    border-top: none;
    transform: translate(7.75px, 4.5px) rotate(45deg);
  }
}
