.multiselect-dropdown-field.purple {
  box-sizing: border-box;
  background-color: #ffffff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;

  input[type="hidden"]:disabled,
  input[type="hidden"]:has([disabled="true"]),
  input[type="hidden"]:has([disabled="disabled"]) {
    ~ .tags-container {
      background-color: #ececec;
      cursor: not-allowed;

      input {
        background-color: rgba(0, 0, 0, 0);
        cursor: not-allowed;
      }
    }
  }

  > .tags-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 4px 0 4px 8px;
    color: #ccc4e6;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ccc4e6;
    border-radius: 5px;
    overflow: hidden;
    word-wrap: break-word;
    gap: 4px;

    &:hover {
      color: #6d5db3;
      border: 1px solid #6d5db3;
    }

    &.active {
      color: #6d5db3;
      border: 1px solid #6d5db3;
      border-radius: 5px 5px 0 0;
    }

    input.tag-input {
      flex: 11;
      // width: calc(100% - 50px);
      border: none;
      font-size: 14px;
      line-height: 24px;
      height: 24px;
      min-width: 56px;
      outline: none;
      cursor: text;

      &::-moz-placeholder {
        color: rgba(112, 92, 185, 0.5);
      }

      &:-ms-input-placeholder {
        color: rgba(112, 92, 185, 0.5);
      }

      &::placeholder {
        color: rgba(112, 92, 185, 0.5);
      }
    }

    .label__tags__input {
      box-sizing: border-box;
      display: block;
      width: 200px;
      font-size: 14px;
      height: 34px;
      padding: 4px 8px;
      margin-bottom: 15px;
    }

    .bi {
      flex: 1;
    }
  }

  .multi-select-options {
    box-sizing: border-box;
    list-style: none;
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #6d5db3;
    width: 100%;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    border-radius: 0 0 5px 5px;
    height: 100%;
    max-height: 150px;
    overflow-y: auto;
    z-index: 999;

    li {
      box-sizing: border-box;
      padding: 0.5rem;
      color: #6d5db3;
      transition: all 0.25s;
      font-size: 14px;
      width: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        background-color: #6d5db3;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }

  .multi-select-options.active {
    display: block;
    height: auto;
    border-top: none;
  }

  .tag {
    box-sizing: border-box;
    position: relative;
    padding: 2px 20px 2px 10px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    background-color: #6d5db3;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: default;
  }

  .tag--marked {
    background-color: #6d5db3;
  }

  .tag--exists {
    background-color: #fa626b;
  }

  .tag__name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .tag__remove {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 100%;
    padding: 0 5px;
    font-size: 16px;
    font-weight: 400;
    transition: opacity 0.2s ease;
    opacity: 0.5;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.multiselect-dropdown-field .multi-select-options li {
  box-sizing: content-box !important;
}
