.rpa-nav-tabs-wrapper {
  .nav-link.active {
    border-bottom: 1px solid #5c60f5 !important;
    color: #5c60f5 !important;
  }

  .nav-link:not(.active) {
    border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
    color: #404040 !important;
  }
}
