/* Custom Checkbox */
.rpa-radio-purple {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 8px;
  width: max-content;
  min-height: 18px;

  input[type="radio"] {
    padding: 0;
    height: 0;
    width: 0;
    margin-bottom: 0;
    opacity: 0;
    visibility: hidden;

    &:checked + label::before {
      background-color: #ffffff;
      border-color: #6d5db3;
    }

    &:checked + label::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 3px;
      left: 3px;
      background-color: #6d5db3;
      border-radius: 50%;
      height: 12px;
      width: 12px;
    }
  }

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: fit-content;
    cursor: pointer;

    &:hover::before {
      border: 1px solid #6d5db3;
    }

    &::before {
      content: "";
      padding: 8px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      margin-right: 5px;
      border-radius: 50%;
      border: 1px solid #ccc4e6;
      background-color: #ffffff;
      cursor: pointer;
    }
  }
}
