.rpa-checkbox-dropdown.purple {
  position: relative;
  font-size: 14px;
  color: #000000;
  width: 100%;

  .rpa-checkbox-dropdown-label {
    box-sizing: border-box;
    display: block;
    height: 36px;
    background: #ffffff;
    border: 1px solid #ccc4e6;
    padding: 9px 12px;
    line-height: 1;
    font-size: 14px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;

    &:before {
      // content: "▼";
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
      float: right;
      transition: transform 0.3s ease-in-out;
    }
  }

  .rpa-checkbox-dropdown-list-by-category {
    margin: 0.5rem 0;
    display: block;

    &:first-child {
      margin-top: 0px;
    }

    &:last-child {
      margin-bottom: 0px;
    }

    &.hidden {
      display: none;
    }
  }

  .rpa-checkbox-dropdown-list {
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    background: #fff;
    position: absolute;
    top: 36px;
    width: 100%;
    border: 1px solid #ccc4e6;
    border-top: none;
    border-radius: 0 0 5px 5px;
    max-height: 32vh;
    overflow-y: scroll;
    z-index: 999;
    display: none;

    .rpa-checkbox-dropdown-list-items {
      box-sizing: border-box;
      padding: 0.5rem 0.25rem;
    }
  }

  .rpa-checkbox-dropdown-input {
    box-sizing: border-box;
    padding: 6px 12px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc4e6;
    outline: none;
  }

  .rpa-checkbox-dropdown-option-topic {
    display: inline;
    font-size: 14px;
    font-weight: 400;
    margin: 12px 0 8px;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
    cursor: pointer;

    .sub_span:before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
      float: right;
      transition: transform 0.3s ease-in-out;
    }

    .topic-child {
      display: none;
      visibility: hidden;
      opacity: 0;
    }

    &.on {
      .sub_span:before {
        transform: rotate(180deg);
        transition: transform 0.3s ease-in-out;
      }

      .topic-child {
        display: block;
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .rpa-checkbox-dropdown-option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    padding: 0.5em;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
    cursor: pointer;
  }

  &.on {
    .rpa-checkbox-dropdown-label {
      border-radius: 5px 5px 0 0;
      transition-delay: 0s;
    }

    .rpa-checkbox-dropdown-list {
      display: block;
      transition-delay: 0s;

      .rpa-checkbox-dropdown-input {
        width: 100%;
      }

      .rpa-checkbox-dropdown-option-topic {
        opacity: 1;
        transition-delay: 0s;
      }

      .rpa-checkbox-dropdown-option {
        opacity: 1;
        transition-delay: 0s;
      }
    }

    .rpa-checkbox-dropdown-label:before {
      transform: rotate(180deg);
      transition: transform 0.3s ease-in-out;
    }
  }

  input[type="checkbox"] {
    position: relative;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    cursor: pointer;

    &::before {
      content: "";
      position: relative;
      display: block;
      background-color: #ffffff;
      border: 1px solid #ccc4e6;
      width: 20px;
      height: 20px;
      border-radius: 2px;
      z-index: 90;
    }

    &:checked::before {
      content: "";
      background-color: #705cb9;
      z-index: 90;
    }

    &:checked::after {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 99;
      width: 5px;
      height: 8px;
      border: 2px solid #fff;
      border-left: none;
      border-top: none;
      transform: translate(7.75px, 4.5px) rotate(45deg);
    }
  }
}
