.rpa-single-dropdown-purple {
  .select2-container--bootstrap-5 .select2-selection--single {
    padding: 6px 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
  }

  .select2-container--bootstrap-5 .select2-selection {
    box-sizing: border-box;
    border: 1px solid #ccc4e6;
    border-radius: 5px;
    height: 100%;
  }

  .select2-container .select2-selection--single .select2-selection__rendered {
    display: flex;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    color: inherit;

    .select2-selection__placeholder {
      font-size: 14px;
      font-weight: 400;
      color: inherit;
    }
  }

  .select2-container--open.select2-container--bootstrap-5.select2-container--above .select2-selection {
    border-radius: 0 0 5px 5px;
  }

  .select2-container--open.select2-container--bootstrap-5 .select2-selection {
    border-radius: 5px 5px 0 0;
  }

  .select2-dropdown {
    left: 1px !important;
    border: 1px solid #ccc4e6;
    font-size: 14px;
    font-weight: 400;
    color: inherit;

    .select2-search__field {
      border: 1px solid #ccc4e6;
    }

    .select2-results__option.select2-results__option--highlighted {
      background-color: #705cb9;
      color: #fafafa;
    }
  }
}
