.tabs__headers {
  display: block;
  width: 100%;

  a {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    padding: 22px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #424f5a;
    text-align: center;
    outline: none;

    box-sizing: border-box;
    flex-grow: 1;
    width: 33%;
    height: 70px;

    span {
      margin-left: 32px;
      font-size: 16px;
    }
  }

  a.active {
    font-weight: 700;
    color: #448aff;
    border-bottom: 1px solid #448aff;
  }

  a:not(.active):hover {
    background-color: inherit;
    color: #448aff;
  }
}
