.rpa-table {
  thead,
  tbody {
    align-content: center;
    text-align: center;
    font-size: $font-size-md;
  }

  tbody td {
    vertical-align: middle;
  }

  &-layout-fixed {
    table-layout: fixed;
  }
}
