.rpa-textarea-purple {
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #ccc4e6;
  resize: none;
  height: 100px;
  font-size: 14px;
  padding: 10px;
  width: 100%;

  &:focus-visible,
  &:focus,
  &:hover {
    outline: none;
    border: 1px solid #705cb9;
  }

  &::-moz-placeholder {
    color: rgba(112, 92, 185, 0.5);
  }

  &:-ms-input-placeholder {
    color: rgba(112, 92, 185, 0.5);
  }

  &::placeholder {
    color: rgba(112, 92, 185, 0.5);
  }

  &[disabled] {
    background-color: #ececec;
    cursor: not-allowed;
  }
}
