/* Filter Form Bottom Control Toggle END */
.rpa-toggle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* Toggle Switcher BEGIN */
.rpa-toggle .rpa-toggle-wrapper {
  position: relative;
  width: 100px;
  border-radius: 25px;
  width: 50px;
  height: 24px;
}

.rpa-toggle .rpa-toggle-input {
  opacity: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 3;
  position: absolute;
  top: 0;
  cursor: pointer;
}

.rpa-toggle .rpa-toggle-body {
  display: block;
  width: 50px;
  height: 24px;
  border-radius: 25px;
  box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, 0.09);
  background-color: rgba(39, 45, 68, 0.15);
  z-index: 0;
}

.rpa-toggle .rpa-toggle-circle {
  position: absolute;
  border-radius: 15px;
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  background: #ffffff;
  transition: all 0.4s;
  cursor: pointer;
}

.rpa-toggle .rpa-toggle-input + .rpa-toggle-body .rpa-toggle-circle:after {
  content: "○";
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: rgba(39, 45, 68, 0.4);
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  border-radius: 18px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rpa-toggle .rpa-toggle-input:checked + .rpa-toggle-body {
  background: #524490;
}

.rpa-toggle .rpa-toggle-input:checked + .rpa-toggle-body .rpa-toggle-circle {
  background-color: white;
  left: 28px;
  transition: all 0.4s ease;
}

.rpa-toggle .rpa-toggle-input:checked + .rpa-toggle-body .rpa-toggle-circle:after {
  content: "I";
  color: rgba(39, 45, 68, 0.4);
  font-family: "Montserrat", sans-serif;
}
/* Toggle Switcher END */

/* Toggle Text BEGIN */
.rpa-toggle-text {
  height: 19px;
  margin: 0px 4px 0px 6px;
  font-size: 14px;
  font-weight: normal !important;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #404040;
  cursor: pointer;
}
/* Toggle Text END */
